
<%= simple_form_for(@cas_practic) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    
      
        
          <div class="grid-x grid-margin-x">
            <div class="cell medium-12">
              <div class="container-formulari-cas-practic">
                <div class="titol-formulari-cas-practic">
                  <%= t('.angles') %>
                </div>
            


                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <%= f.input :titol_en %>
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :resum_en %>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_descripcio') %></h4>
                    <%= t('.text_descripcio') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_descripcio_en" type="hidden" name="cas_practic[descripcio_en]" value="<%= @cas_practic.descripcio_en %>">
                    <trix-editor input="cas_practic_descripcio_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_arquitectura') %></h4>
                    <%= t('.text_arquitectura') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_arquitectura_en" type="hidden" name="cas_practic[arquitectura_en]" value="<%= @cas_practic.arquitectura_en %>">
                    <trix-editor input="cas_practic_arquitectura_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_materials') %></h4>
                    <%= t('.text_materials') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_materials_en" type="hidden" name="cas_practic[materials_en]" value="<%= @cas_practic.materials_en %>">
                    <trix-editor input="cas_practic_materials_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_energia') %></h4>
                    <%= t('.text_energia') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_energia_en" type="hidden" name="cas_practic[energia_en]" value="<%= @cas_practic.energia_en %>">
                    <trix-editor input="cas_practic_energia_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_aigua') %></h4>
                    <%= t('.text_aigua') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_aigua_en" type="hidden" name="cas_practic[aigua_en]" value="<%= @cas_practic.aigua_en %>">
                    <trix-editor input="cas_practic_aigua_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_certificacions') %></h4>
                    <%= t('.text_certificacions') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_certificacions_en" type="hidden" name="cas_practic[certificacions_en]" value="<%= @cas_practic.certificacions_en %>">
                    <trix-editor input="cas_practic_certificacions_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-4">
                    <h4 class="titol-text-camp-cas-practic"><%= t('.titol_arquitectes') %></h4>
                    <%= t('.text_arquitectes') %>
                  </div>
                  <div class="cell medium-8">
                    <input id="cas_practic_arquitectes_en" type="hidden" name="cas_practic[arquitectes_en]" value="<%= @cas_practic.arquitectes_en %>">
                    <trix-editor input="cas_practic_arquitectes_en"></trix-editor>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <%= f.input :emplacament_en %>
                    <%= f.input :any_construccio_en %>
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :us_edifici_en %>
                    <%= f.input :tipus_promocio_en, collection: ['Privada', 'Pública'] %>
                  </div>
                </div>

                <div class="separador-formulari-cas-practic"></div>

                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <% if @cas_practic.imatge_cas_principal.attached? %>
                      <%= image_tag @cas_practic.imatge_cas_principal %>
                    <% end %>
                    
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :text_imatge_cas_principal_en %>
                  </div>
                </div>
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <% if @cas_practic.imatge_cas_1.attached? %>
                      <%= image_tag @cas_practic.imatge_cas_1 %>
                    <% end %>
                    
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :text_imatge_cas_1_en %>
                  </div>
                </div>
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <% if @cas_practic.imatge_cas_2.attached? %>
                      <%= image_tag @cas_practic.imatge_cas_2 %>
                    <% end %>
                    
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :text_imatge_cas_2_en %>
                  </div>
                </div>
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <% if @cas_practic.imatge_cas_3.attached? %>
                      <%= image_tag @cas_practic.imatge_cas_3 %>
                    <% end %>
                    
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :text_imatge_cas_3_en %>
                  </div>
                </div>
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <% if @cas_practic.imatge_cas_4.attached? %>
                      <%= image_tag @cas_practic.imatge_cas_4 %>
                    <% end %>
                    
                  </div>
                  <div class="cell medium-6">
                    <%= f.input :text_imatge_cas_4_en %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


  <div class="form-actions">
    
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3">
        <%= f.button :submit, t('.guardar') %>
      </div>
    </div>

  </div>
<% end %>
