<div class="container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-12">
      <% if params[:locale] == 'ca' %>
        <h1 class="cas-practic"><%= @cas_practic.titol_ca %></h1>
      <% elsif params[:locale] == 'es' %>
        <h1 class="cas-practic"><%= @cas_practic.titol_es %></h1>
      <% else %>
        <h1 class="cas-practic"><%= @cas_practic.titol_en %></h1>
      <% end %>

    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-5 cell">
      <% if @cas_practic.imatge_cas_principal.attached? %>
        <%= image_tag @cas_practic.imatge_cas_principal, class: 'img-cas' %>
        <div class="container-text-imatge-cas-practic">
          <span class="text-imatge-cas-practic"><%= @cas_practic.text_imatge_cas_principal_ca %></span>
        </div>
      <% end %>
      <% if @cas_practic.imatge_cas_1.attached? %>
        <%= image_tag @cas_practic.imatge_cas_1, class: 'img-cas' %>
        <div class="container-text-imatge-cas-practic">
          <span class="text-imatge-cas-practic"><%= @cas_practic.text_imatge_cas_1_ca %></span>
        </div>
      <% end %>
      <% if @cas_practic.imatge_cas_2.attached? %>
        <%= image_tag @cas_practic.imatge_cas_2, class: 'img-cas' %>
        <div class="container-text-imatge-cas-practic">
          <span class="text-imatge-cas-practic"><%= @cas_practic.text_imatge_cas_2_ca %></span>
        </div>
      <% end %>
    </div>
    <div class="medium-7 cell">
      <% if params[:locale] == 'ca' %>
        <div class="text-destacat-cas-practic"><%= @cas_practic.descripcio_ca.html_safe %></div>
        <% if @cas_practic.arquitectura_ca.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Arquitectura</h3>
            <%= @cas_practic.arquitectura_ca.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.materials_ca.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Materials</h3>
            <%= @cas_practic.materials_ca.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.energia_ca.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Energia</h3>
            <%= @cas_practic.energia_ca.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.aigua_ca.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Aigua</h3>
            <%= @cas_practic.aigua_ca.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.certificacions_ca.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Certificacions</h3>
            <%= @cas_practic.certificacions_ca.html_safe %>
          </div>
        <% end %>

      <% elsif params[:locale] == 'es' %>

        <div class="text-destacat-cas-practic"><%= @cas_practic.descripcio_es.html_safe %></div>
        <% if @cas_practic.arquitectura_es.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Arquitectura</h3>
            <%= @cas_practic.arquitectura_es.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.materials_es.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Materiales</h3>
            <%= @cas_practic.materials_es.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.energia_es.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Energía</h3>
            <%= @cas_practic.energia_es.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.aigua_es.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Agua</h3>
            <%= @cas_practic.aigua_es.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.certificacions_es.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Certificaciones</h3>
            <%= @cas_practic.certificacions_es.html_safe %>
          </div>
        <% end %>

      <% else %>
        
        <div class="text-destacat-cas-practic"><%= @cas_practic.descripcio_en.html_safe %></div>
        <% if @cas_practic.arquitectura_en.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Architecture</h3>
            <%= @cas_practic.arquitectura_en.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.materials_en.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Materials</h3>
            <%= @cas_practic.materials_en.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.energia_en.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Energy</h3>
            <%= @cas_practic.energia_en.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.aigua_en.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Water</h3>
            <%= @cas_practic.aigua_en.html_safe %>
          </div>
        <% end %>
        <% if @cas_practic.certificacions_en.present? %>
          <div class="apartat-cas-practic">
            <h3 class="cas-practic">Certifications</h3>
            <%= @cas_practic.certificacions_en.html_safe %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>




<p id="notice"><%= notice %></p>

<p>
  <strong>Titol ca:</strong>
  <%= @cas_practic.titol_ca %>
</p>

<p>
  <strong>Resum ca:</strong>
  <%= @cas_practic.resum_ca %>
</p>

<p>
  <strong>Permalink ca:</strong>
  <%= @cas_practic.permalink_ca %>
</p>

<p>
  <strong>Descripcio ca:</strong>
  <%= @cas_practic.descripcio_ca %>
</p>

<p>
  <strong>Emplacament ca:</strong>
  <%= @cas_practic.emplacament_ca %>
</p>

<p>
  <strong>Arquitectura ca:</strong>
  <%= @cas_practic.arquitectura_ca %>
</p>

<p>
  <strong>Materials ca:</strong>
  <%= @cas_practic.materials_ca %>
</p>

<p>
  <strong>Energia ca:</strong>
  <%= @cas_practic.energia_ca %>
</p>

<p>
  <strong>Aigua ca:</strong>
  <%= @cas_practic.aigua_ca %>
</p>

<p>
  <strong>Certificacions ca:</strong>
  <%= @cas_practic.certificacions_ca %>
</p>

<p>
  <strong>Arquitectes ca:</strong>
  <%= @cas_practic.arquitectes_ca %>
</p>

<p>
  <strong>Emplacament ca:</strong>
  <%= @cas_practic.emplacament_ca %>
</p>

<p>
  <strong>Any construccio ca:</strong>
  <%= @cas_practic.any_construccio_ca %>
</p>

<p>
  <strong>Us edifici ca:</strong>
  <%= @cas_practic.us_edifici_ca %>
</p>

<p>
  <strong>Tipus promocio ca:</strong>
  <%= @cas_practic.tipus_promocio_ca %>
</p>

<p>
  <strong>Titol es:</strong>
  <%= @cas_practic.titol_es %>
</p>

<p>
  <strong>Resum es:</strong>
  <%= @cas_practic.resum_es %>
</p>

<p>
  <strong>Permalink es:</strong>
  <%= @cas_practic.permalink_es %>
</p>

<p>
  <strong>Descripcio es:</strong>
  <%= @cas_practic.descripcio_es %>
</p>

<p>
  <strong>Emplacament es:</strong>
  <%= @cas_practic.emplacament_es %>
</p>

<p>
  <strong>Arquitectura es:</strong>
  <%= @cas_practic.arquitectura_es %>
</p>

<p>
  <strong>Materials es:</strong>
  <%= @cas_practic.materials_es %>
</p>

<p>
  <strong>Energia es:</strong>
  <%= @cas_practic.energia_es %>
</p>

<p>
  <strong>Aigua es:</strong>
  <%= @cas_practic.aigua_es %>
</p>

<p>
  <strong>Certificacions es:</strong>
  <%= @cas_practic.certificacions_es %>
</p>

<p>
  <strong>Arquitectes es:</strong>
  <%= @cas_practic.arquitectes_es %>
</p>

<p>
  <strong>Emplacament es:</strong>
  <%= @cas_practic.emplacament_es %>
</p>

<p>
  <strong>Any construccio es:</strong>
  <%= @cas_practic.any_construccio_es %>
</p>

<p>
  <strong>Us edifici es:</strong>
  <%= @cas_practic.us_edifici_es %>
</p>

<p>
  <strong>Tipus promocio es:</strong>
  <%= @cas_practic.tipus_promocio_es %>
</p>

<p>
  <strong>Titol en:</strong>
  <%= @cas_practic.titol_en %>
</p>

<p>
  <strong>Resum en:</strong>
  <%= @cas_practic.resum_en %>
</p>

<p>
  <strong>Permalink en:</strong>
  <%= @cas_practic.permalink_en %>
</p>

<p>
  <strong>Descripcio en:</strong>
  <%= @cas_practic.descripcio_en %>
</p>

<p>
  <strong>Emplacament en:</strong>
  <%= @cas_practic.emplacament_en %>
</p>

<p>
  <strong>Arquitectura en:</strong>
  <%= @cas_practic.arquitectura_en %>
</p>

<p>
  <strong>Materials en:</strong>
  <%= @cas_practic.materials_en %>
</p>

<p>
  <strong>Energia en:</strong>
  <%= @cas_practic.energia_en %>
</p>

<p>
  <strong>Aigua en:</strong>
  <%= @cas_practic.aigua_en %>
</p>

<p>
  <strong>Certificacions en:</strong>
  <%= @cas_practic.certificacions_en %>
</p>

<p>
  <strong>Arquitectes en:</strong>
  <%= @cas_practic.arquitectes_en %>
</p>

<p>
  <strong>Emplacament en:</strong>
  <%= @cas_practic.emplacament_en %>
</p>

<p>
  <strong>Any construccio en:</strong>
  <%= @cas_practic.any_construccio_en %>
</p>

<p>
  <strong>Us edifici en:</strong>
  <%= @cas_practic.us_edifici_en %>
</p>

<p>
  <strong>Tipus promocio en:</strong>
  <%= @cas_practic.tipus_promocio_en %>
</p>

<%= link_to 'Edit', edit_cas_practic_path(@cas_practic) %> |
<%= link_to 'Back', cas_practics_path %>
