<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				<div class="main-title-container">
	        <span class="main-title"><%= t('.comparador') %></span>
	      </div>

        <div class="callout warning">
          <div class="container-titol-unitat-funcional">
            <span class="titol-unitat-funcional"><%= t('.unitats_declarades') %></span>
          </div>
          <p>
          <span class="nom-producte-unitats-declarades">
            <% if params[:tipus_producte1] == 'usuari' %>
              <%= @producte1.nom %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte1.nom_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte1.nom_en %>
              <% else %>
                <%= @producte1.nom_ca %>
              <% end %>
            <% end %>
          :</span>
            <% if params[:tipus_producte1] == 'usuari' %>
              <%= @producte1.unitat_declarada %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte1.unitat_declarada_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte1.unitat_declarada_en %>
              <% else %>
                <%= @producte1.unitat_declarada_ca %>
              <% end %>
            <% end %>
          <br/>
          <span class="nom-producte-unitats-declarades">
            <% if params[:tipus_producte2] == 'usuari' %>
              <%= @producte2.nom %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte2.nom_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte2.nom_en %>
              <% else %>
                <%= @producte2.nom_ca %>
              <% end %>
            <% end %>
          :</span>
            <% if params[:tipus_producte2] == 'usuari' %>
              <%= @producte2.unitat_declarada %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte2.unitat_declarada_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte2.unitat_declarada_en %>
              <% else %>
                <%= @producte2.unitat_declarada_ca %>
              <% end %>
            <% end %>
          </p>
          <p><%= t('.advertencia_comparador') %></p>
        </div>

	  		
        <% etapes = [["A1-A3", t('.a1-a3')], ["A4", t('.a4')], ["A5", t('.a5')], ["B1", t('.b1')], ["B2", t('.b2')], ["B3", t('.b3')], ["B4-B7", t('.b4-b7')], ["C1", t('.c1')], ["C2", t('.c2')], ["C3", t('.c3')], ["C4", t('.c4')]] %>

    		<div class="taula-comparador">
          <% etapes.each do |etapa| %>
          <div id="container-etapa-<%= etapa[0] %>">
            <h3 class="titol-etapa">Etapa <%= etapa[0] %>: <%= etapa[1] %></h3>
            <table class="unstriped">
      				<thead>
      					<th class="header-cell-indicadors"><%= t('.parametre') %></th>
    						<th class="header-cell-indicadors">
                  <%= @nom_producte1 %><br/>
                  <span class="taula-comparador-nom-empresa"><%= @producte1.empresa %></span>
                </th>
    						<th class="header-cell-indicadors">
                  <%= @nom_producte2 %><br/>
                  <span class="taula-comparador-nom-empresa"><%= @producte2.empresa %></span>
                </th>
      				</thead>
      				<tbody>
                <% valors_indicador1 = Array.new %>
                <% valors_indicador2 = Array.new %>
                <% noms_indicador = Array.new %>
                <% valor_total_indicadors_producte1 = 0 %>
                <% valor_total_indicadors_producte2 = 0 %>
                <% @tipus_indicadors.each do |tipus_indicador| %>
                  <% noms_indicador.push(tipus_indicador.nom_ca) %>
                  <tr>
                    <td class="body-cell-indicadors">
                      <% if params[:locale] == 'ca' %>
                        <span data-tooltip tabindex="1" title="<%= tipus_indicador.descripcio_ca %>"><%= tipus_indicador.nom_ca %></span>
                      <% elsif params[:locale] == 'es' %>
                        <span data-tooltip tabindex="1" title="<%= tipus_indicador.descripcio_es %>"><%= tipus_indicador.nom_es %></span>
                      <% else %>
                        <span data-tooltip tabindex="1" title="<%= tipus_indicador.descripcio_en %>"><%= tipus_indicador.nom_en %></span>
                      <% end %>
                       <span class="unitats-indicadors">(<%= tipus_indicador.unitats %>)</span></td>
                    <% 
                    if params[:tipus_producte1] == 'usuari' 
                      indicador1 = IndicadorUsuari.where(producte_dapcons_usuari_id: @producte1.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    else
                      indicador1 = Indicador.where(producte_dapcons_id: @producte1.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    end
                    if params[:tipus_producte2] == 'usuari' 
                      indicador2 = IndicadorUsuari.where(producte_dapcons_usuari_id: @producte2.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    else
                      indicador2 = Indicador.where(producte_dapcons_id: @producte2.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    end
                    %>

                    <% 
                    if indicador1.present? && indicador2.present?
                      if indicador1.valor.to_f < indicador2.valor.to_f
                        cell1_class = 'highlight'
                        cell2_class = 'no_highlight'
                      elsif indicador1.valor.to_f == indicador2.valor.to_f
                        cell1_class = 'no_highlight'
                        cell2_class = 'no_highlight'
                      else
                        cell1_class = 'no_highlight'
                        cell2_class = 'highlight'
                      end
                    end
                    %>
                    <td class="body-cell-indicadors <%= cell1_class %>">
                      <% if indicador1.present? %>
                        <%= indicador1.valor %>
                        <% valors_indicador1.push(indicador1.valor) %>
                        <% valor_total_indicadors_producte1 += indicador1.valor %>
                      <% else %>
                        <% valors_indicador1.push(0) %>
                      <% end %>
                    </td>
                    
                    <td class="body-cell-indicadors <%= cell2_class %>">
                      <% if indicador2.present? %>
                        <%= indicador2.valor %>
                        <% valors_indicador2.push(indicador2.valor) %>
                        <% valor_total_indicadors_producte2 += indicador2.valor %>
                      <% else %>
                        <% valors_indicador2.push(0) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
      				</tbody>
      			</table>

            <div class="grafic-comparador">
              <% 
              # Volem que el número gran sigui 100 i el petit el percentatge que correspongui, per això creem un Array de valors transformats
              valors_transformats_indicador1 = Array.new
              valors_transformats_indicador2 = Array.new
              
              for i in 0..23
                # Primer comprovem quin és més gran
                if valors_indicador1[i].present? && valors_indicador2[i].present?
                  if valors_indicador1[i] > valors_indicador2[i]
                    numero_gran = valors_indicador1[i]
                  else
                    numero_gran = valors_indicador2[i]
                  end
                
                  # Trobem per quin número hem de multiplicar els valors perquè el més gran dóni 100
                  if numero_gran == 0
                    multiplicador = 0
                    else
                    multiplicador = 100/numero_gran
                  end
                  # Transformem els valors per a tenir els percentatges
                  val1 = ((valors_indicador1[i] * multiplicador)*100).round / 100
                  val2 = ((valors_indicador2[i] * multiplicador)*100).round / 100
                end
                valors_transformats_indicador1.push(val1)
                valors_transformats_indicador2.push(val2)
              end
              
              %>
              <div class="titol-grafic-comparador"><%= t('.titol_grafic') %></div>
              <canvas id="<%= etapa[0] %>" width="400" height="300"></canvas>
              <script charset="utf-8">
              var rails_locale = "<%= params[:locale] %>"
              switch(rails_locale) {
                case 'ca':
                  var esgotament_recursos_no_fossils = "Esgotament de recursos abiòtics  per a recursos no fòssils";
                  var esgotament_recursos_fossils = "Esgotament de recursos abiòtics per a recursos fòssils";
                  var acidificacio = "Acidificació del sòl i dels recursos de l'aigua";
                  var esgotament_ozo = "Esgotament de la capa d'ozó estratosfèric";
                  var escalfament_global = "Escalfament global";
                  var eutrofitzacio = "Eutrofització";
                  var ozo_troposferic = "Formació d'ozó troposfèric, POCP";
                  var energia_primaria_renovable_no_materia_prima = "Ús d'energia primària renovable excloent els recursos d'energia primària renovable utilitzada com a matèria prima";
                  var energia_primaria_renovable_materia_prima = "Ús d'energia primària renovable utilitzada com a matèria primera";
                  var total_energia_primaria_renovable = "Ús total d'energia primària renovable (energia primària i recursos d'energia primària renovable utilitzada com a matèria prima";
                  var energia_primaria_no_renovable = "Ús d'energia primària no renovable, excloent els recursos d'energia primària no renovable utilitzada com a matèria prima";
                  var energia_primaria_no_renovable_materia_prima = "Ús de l'energia primària no renovable utilitzada com a matèria prima";
                  var total_energia_primaria_no_renovable = "Ús total de l'energia primària no renovable (energia primària i recursos d'energia primària renovable utilitzada com a matèria prima)";
                  var materials_secundaris = "Ús de materials secundaris";
                  var combustibles_secundaris_renovables = "Ús de combustibles secundaris renovables";
                  var combustibles_secundaris_no_renovables = "Ús de combustibles secundaris no renovables";
                  var aigua_dolca = "Ús net de recursos d'aigua dolça";
                  var residus_perillosos = "Residus perillosos eliminats";
                  var residus_no_perillosos = "Residus no perillosos eliminats";
                  var residus_radioactius = "Residus radioactius eliminats";
                  var components_reutilitzacio = "Components per a la seva reutilització";
                  var materials_reciclatge = "Materials per al reciclatge";
                  var materials_valoritzacio_energetica = "Materials per a valorització energètica";
                  var energia_exportada = "Energia exportada";
                  break;
                case 'es':
                  var esgotament_recursos_no_fossils = "Agotamiento de recursos abióticos para recursos no fósiles";
                  var esgotament_recursos_fossils = "Agotamiento de recursos abióticos para recursos fósiles";
                  var acidificacio = "Acidificación del suelo y de los recursos del agua";
                  var esgotament_ozo = "Agotamiento de la capa de ozono estratosférico";
                  var escalfament_global = "Calentamiento global";
                  var eutrofitzacio = "Eutrofización";
                  var ozo_troposferic = "Formación de ozono troposférico, POCP";
                  var energia_primaria_renovable_no_materia_prima = "Uso de energía primaria renovable excluyendo los recursos de energía primaria renovable utilizada como materia prima";
                  var energia_primaria_renovable_materia_prima = "Uso de energía primaria renovable utilizada como materia prima";
                  var total_energia_primaria_renovable = "Uso total de energía primaria renovable (energía primaria y recursos de energía primaria renovable utilizada como materia prima";
                  var energia_primaria_no_renovable = "Uso de energía primaria no renovable, excluyendo los recursos de energía primaria no renovable utilizada como materia prima";
                  var energia_primaria_no_renovable_materia_prima = "Uso de la energía primaria no renovable utilizada como materia prima";
                  var total_energia_primaria_no_renovable = "Uso total de la energía primaria no renovable (energía primaria y recursos de energía primaria renovable utilizada como materia prima";
                  var materials_secundaris = "Uso de materiales secundarios";
                  var combustibles_secundaris_renovables = "Uso de combustibles secundarios renovables";
                  var combustibles_secundaris_no_renovables = "Uso de combustibles secundarios no renovables";
                  var aigua_dolca = "Uso neto de recursos de agua dulce";
                  var residus_perillosos = "Residuos peligrosos eliminados";
                  var residus_no_perillosos = "Residuos no peligrosos eliminados";
                  var residus_radioactius = "Residuos radiactivos eliminados";
                  var components_reutilitzacio = "Componentes para su reutilización";
                  var materials_reciclatge = "Materiales para el reciclaje";
                  var materials_valoritzacio_energetica = "Materiales para valorización energética";
                  var energia_exportada = "Energía exportada";
                  break;
                default:
                  var esgotament_recursos_no_fossils = "Depletion of abiotic resources for non-fossil resources";
                  var esgotament_recursos_fossils = "Depletion of abiotic resources for fossil resources";
                  var acidificacio = "Acidification of soil and water resources";
                  var esgotament_ozo = "Depletion of the stratospheric ozone layer";
                  var escalfament_global = "Global warming";
                  var eutrofitzacio = "Eutrophication";
                  var ozo_troposferic = "Tropospheric ozone formation, POCP";
                  var energia_primaria_renovable_no_materia_prima = "Use of renewable primary energy excluding renewable primary energy resources used as raw material";
                  var energia_primaria_renovable_materia_prima = "Use of renewable primary energy used as raw material";
                  var total_energia_primaria_renovable = "Total use of renewable primary energy (primary energy and renewable primary energy resources used as raw material";
                  var energia_primaria_no_renovable = "Use of non-renewable primary energy, excluding non-renewable primary energy resources used as raw material";
                  var energia_primaria_no_renovable_materia_prima = "Use of non-renewable primary energy used as raw material";
                  var total_energia_primaria_no_renovable = "Total use of non-renewable primary energy (primary energy and renewable primary energy resources used as raw material";
                  var materials_secundaris = "Use of secondary materials";
                  var combustibles_secundaris_renovables = "Use of renewable secondary fuels";
                  var combustibles_secundaris_no_renovables = "Use of non-renewable secondary fuels";
                  var aigua_dolca = "Net use of freshwater resources";
                  var residus_perillosos = "Hazardous waste disposed";
                  var residus_no_perillosos = "Non-hazardous waste disposed";
                  var residus_radioactius = "Radioactive waste removed";
                  var components_reutilitzacio = "Components for reuse";
                  var materials_reciclatge = "Materials for recycling";
                  var materials_valoritzacio_energetica = "Materials for energy recovery";
                  var energia_exportada = "Exported energy";
              }

              var ctx = document.getElementById("<%= etapa[0] %>").getContext('2d');
              var myChart = new Chart(ctx, {
                  type: 'horizontalBar',
                  data: {
                      labels: [escalfament_global, esgotament_ozo, acidificacio, esgotament_recursos_fossils, esgotament_recursos_no_fossils, eutrofitzacio, ozo_troposferic, energia_primaria_renovable_no_materia_prima, energia_primaria_renovable_materia_prima, total_energia_primaria_renovable, energia_primaria_no_renovable, energia_primaria_no_renovable_materia_prima, total_energia_primaria_no_renovable, materials_secundaris, combustibles_secundaris_renovables, combustibles_secundaris_no_renovables, aigua_dolca, residus_perillosos, residus_no_perillosos, residus_radioactius, components_reutilitzacio, materials_reciclatge, materials_valoritzacio_energetica, energia_exportada],
                      datasets: [{
                          label: "<%= @nom_producte1 %> - <%= @producte1.empresa %>",
                          data: <%= valors_transformats_indicador1 %>,
                          backgroundColor: 'rgba(255,99,132,1)'
                      },
                      {
                          label: "<%= @nom_producte2 %> - <%= @producte2.empresa %>",
                          data: <%= valors_transformats_indicador2 %>,
                          backgroundColor: 'rgba(54, 162, 235, 1)'
                          
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero:true
                              }
                          }]
                      }
                  }
              });
              </script>
            </div>
            <script>
              // Si cap dels dos productes té indicadors en una etapa aquesta no es mostra
              $( document ).ready(function() {
                <% if valor_total_indicadors_producte1 == 0 && valor_total_indicadors_producte2 == 0 %>
                  $( "#container-etapa-<%= etapa[0] %>" ).hide();
                <% end %>
              });
            </script>
          </div>
          <% end %>
    		</div>
    	</div>
    </div>
  
</div>
	<%= render "layouts/dapcons_noticies" %>    	

