<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				<div class="main-title-container">
	        <span class="main-title"><%= t('.comparador') %></span>
	      </div>

        <div class="callout warning">
          <div class="container-titol-unitat-funcional">
            <span class="titol-unitat-funcional"><%= t('.unitats_declarades') %></span>
          </div>
          <p>
          <span class="nom-producte-unitats-declarades">
            <% if params[:tipus_producte1] == 'usuari' %>
              <%= @producte1.nom %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte1.nom_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte1.nom_en %>
              <% else %>
                <%= @producte1.nom_ca %>
              <% end %>
            <% end %>
          :</span>
            <% if params[:tipus_producte1] == 'usuari' %>
              <%= @producte1.unitat_declarada %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte1.unitat_declarada_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte1.unitat_declarada_en %>
              <% else %>
                <%= @producte1.unitat_declarada_ca %>
              <% end %>
            <% end %>
          <br/>
          <span class="nom-producte-unitats-declarades">
            <% if params[:tipus_producte2] == 'usuari' %>
              <%= @producte2.nom %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte2.nom_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte2.nom_en %>
              <% else %>
                <%= @producte2.nom_ca %>
              <% end %>
            <% end %>
          :</span>
            <% if params[:tipus_producte2] == 'usuari' %>
              <%= @producte2.unitat_declarada %>
            <% else %>
              <% if params[:locale] == 'es' %>
                <%= @producte2.unitat_declarada_es %>
              <% elsif params[:locale] == 'en' %>
                <%= @producte2.unitat_declarada_en %>
              <% else %>
                <%= @producte2.unitat_declarada_ca %>
              <% end %>
            <% end %>
          </p>
          <p><%= t('.advertencia_comparador') %></p>
        </div>

	  		
        <% etapes = [["A1-A3", t('.a1-a3')], ["A4", t('.a4')], ["A5", t('.a5')], ["B1", t('.b1')], ["B2", t('.b2')], ["B3", t('.b3')], ["B4-B7", t('.b4-b7')], ["C1", t('.c1')], ["C2", t('.c2')], ["C3", t('.c3')], ["C4", t('.c4')]] %>

    		<div class="taula-comparador">
          <% etapes.each do |etapa| %>
          <div id="container-etapa-<%= etapa[0] %>">
            <h3 class="titol-etapa">Etapa <%= etapa[0] %>: <%= etapa[1] %></h3>
            <table class="unstriped">
      				<thead>
      					<th class="header-cell-indicadors"><%= t('.indicador') %></th>
    						<th class="header-cell-indicadors">
                  <%= @nom_producte1 %>
                </th>
    						<th class="header-cell-indicadors">
                  <%= @nom_producte2 %>
                </th>
      				</thead>
      				<tbody>
                <% valors_indicador1 = Array.new %>
                <% valors_indicador2 = Array.new %>
                <% noms_indicador = Array.new %>
                <% valor_total_indicadors_producte1 = 0 %>
                <% valor_total_indicadors_producte2 = 0 %>
                <% @tipus_indicadors.each do |tipus_indicador| %>
                  <% noms_indicador.push(tipus_indicador.nom_ca) %>
                  <tr>
                    <td class="body-cell-indicadors">
                      <% if params[:locale] == 'ca' %>
                        <%= tipus_indicador.nom_ca %>
                      <% elsif params[:locale] == 'es' %>
                        <%= tipus_indicador.nom_es %>
                      <% else %>
                        <%= tipus_indicador.nom_en %>
                      <% end %>
                       <span class="unitats-indicadors">(<%= tipus_indicador.unitats %>)</span></td>
                    <% 
                    if params[:tipus_producte1] == 'usuari' 
                      indicador1 = IndicadorUsuari.where(producte_dapcons_usuari_id: @producte1.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    else
                      indicador1 = Indicador.where(producte_dapcons_id: @producte1.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    end
                    if params[:tipus_producte2] == 'usuari' 
                      indicador2 = IndicadorUsuari.where(producte_dapcons_usuari_id: @producte2.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    else
                      indicador2 = Indicador.where(producte_dapcons_id: @producte2.id, tipus_indicador_id: tipus_indicador.id, etapa: etapa).last
                    end
                    %>

                    <% 
                    if indicador1.present? && indicador2.present?
                      if indicador1.valor.to_f < indicador2.valor.to_f
                        cell1_class = 'highlight'
                        cell2_class = 'no_highlight'
                      elsif indicador1.valor.to_f == indicador2.valor.to_f
                        cell1_class = 'no_highlight'
                        cell2_class = 'no_highlight'
                      else
                        cell1_class = 'no_highlight'
                        cell2_class = 'highlight'
                      end
                    end
                    %>
                    <td class="body-cell-indicadors <%= cell1_class %>">
                      <% if indicador1.present? %>
                        <%= indicador1.valor %>
                        <% valors_indicador1.push(indicador1.valor) %>
                        <% valor_total_indicadors_producte1 += indicador1.valor %>
                      <% else %>
                        <% valors_indicador1.push(0) %>
                      <% end %>
                    </td>
                    
                    <td class="body-cell-indicadors <%= cell2_class %>">
                      <% if indicador2.present? %>
                        <%= indicador2.valor %>
                        <% valors_indicador2.push(indicador2.valor) %>
                        <% valor_total_indicadors_producte2 += indicador2.valor %>
                      <% else %>
                        <% valors_indicador2.push(0) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
      				</tbody>
      			</table>

            <div class="grafic-comparador">
              <% 
              # Volem que el número gran sigui 100 i el petit el percentatge que correspongui, per això creem un Array de valors transformats
              valors_transformats_indicador1 = Array.new
              valors_transformats_indicador2 = Array.new
              
              for i in 0..6
                # Primer comprovem quin és més gran
                if valors_indicador1[i].present? && valors_indicador2[i].present?
                  if valors_indicador1[i] > valors_indicador2[i]
                    numero_gran = valors_indicador1[i]
                  else
                    numero_gran = valors_indicador2[i]
                  end
                
                  # Trobem per quin número hem de multiplicar els valors perquè el més gran dóni 100
                  if numero_gran == 0
                    multiplicador = 0
                    else
                    multiplicador = 100/numero_gran
                  end
                  # Transformem els valors per a tenir els percentatges
                  val1 = ((valors_indicador1[i] * multiplicador)*100).round / 100
                  val2 = ((valors_indicador2[i] * multiplicador)*100).round / 100
                end
                valors_transformats_indicador1.push(val1)
                valors_transformats_indicador2.push(val2)
              end
              
              %>
              <div class="titol-grafic-comparador"><%= t('.titol_grafic') %></div>
              <canvas id="<%= etapa[0] %>" width="400" height="150"></canvas>
              <script>
              var ctx = document.getElementById("<%= etapa[0] %>").getContext('2d');
              var myChart = new Chart(ctx, {
                  type: 'horizontalBar',
                  data: {
                      labels: ["<%= t('.escalfament_global') %>", "<%= t('.ozo') %>", "<%= t('.ozo') %>", "<%= t('.recursos_abiotics') %>", "<%= t('.recursos_abiotics_elements') %>", "<%= t('.eutrofitzacio') %>", "<%= t('.ozo_fotoquimic') %>"],
                      datasets: [{
                          label: "<%= @nom_producte1 %>",
                          data: <%= valors_transformats_indicador1 %>,
                          backgroundColor: 'rgba(255,99,132,1)'
                      },
                      {
                          label: "<%= @nom_producte2 %>",
                          data: <%= valors_transformats_indicador2 %>,
                          backgroundColor: 'rgba(54, 162, 235, 1)'
                          
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero:true
                              }
                          }]
                      }
                  }
              });
              </script>
            </div>
            <script>
              // Si cap dels dos productes té indicadors en una etapa aquesta no es mostra
              $( document ).ready(function() {
                <% if valor_total_indicadors_producte1 == 0 && valor_total_indicadors_producte2 == 0 %>
                  $( "#container-etapa-<%= etapa[0] %>" ).hide();
                <% end %>
              });
            </script>
          </div>
          <% end %>
    		</div>
    	</div>
    </div>
  
</div>
	<%= render "layouts/dapcons_noticies" %>    	

