<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Documents oficials DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>El Programa DAPcons està actualitzat a la nova UNE-EN 15804: 2012 + A2: 2020 'Sostenibilitat de les obres de construcció - Declaracions mediambientals de productes - Normes bàsiques per a la categoria de productes de la construcció'. Aquesta norma és la responsable de el desenvolupament de mètodes horitzontals estandarditzats per a l'avaluació de la sostenibilitat de les obres de construcció noves i existents; i de les normes per a la declaració ambiental de productes (DAP) dels productes de construcció.</p>

		      <p>Els documents que regeixen el programa DAPconstrucción<sup>®</sup>:</p>

		      <h4>Instruccions Generals del Programa</h4>
		      <p>Les Instruccions Generals del Programa (IGP) estableixen de manera clara i ordenada, els criteris, les bases normatives, els objectius, els procediments, els agents participants, les quotes, així com la resta de documents que conformen el programa.</p>

		      <p><%= link_to "Instrucciones Generales del Programa", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_IGP_v4.pdf" %></p>

		      <h4>Regles de Categoria de Producte</h4>
		      <p>El desenvolupament d’una DAPcons<sup>®</sup> es basa en l’aplicació d’unes directrius que marquen com s’ha de realitzar l’estudi de Anàlisi del Cicle de Vida (ACV) del producte. Aquestes directrius són les denominades, Regles de Categoria de Producte (RCP).</p>

		      <p>Les Regles de Categoria de Producte (RCP) recullen els requisits i directrius que s’han de seguir per desenvolupar una declaració ambiental de producte, incloent-hi l’estudi de l’anàlisi del cicle de via corresponent que pot variar segons, per exemple, la funció del producte, la incorporació de material reciclat o la complexitat del procés productiu.</p>

		      <p>Les Regles de Categoria de Producte (RCP) poden ser:
		      	<ul>
		      		<li>Desenvolupades pel propi Programa DAPconstrucción®.</li>
							<li>Normes tècniques nacionals, europees o internacionals.</li>
							<li>RCPs emeses per un administrador de Programa reconegut internacionalment.</li>
						</ul>
					</p>

		      <p>Actualment s’han desenvolupat i són vigents en el Programa DAPcons<sup>®</sup>:
		      	<ul>
		      		<li>RCP d’aïllants tèrmics</li>
		      		<li>RCP de revestiments ceràmics</li>
		      		<li><%= link_to "RCP de pedra i àrids", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_RCP004_v3.pdf" %></li>
		      		<li><%= link_to "RCP productes de construcció en general", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210527_DAPcons_RCP100_v3.1.pdf" %>. Vàlida per a qualsevol tipus de producte de construcció, d'acord amb les normes nacionals i internacionals que les regeixen, o bé segons documents aportats; DITE, DIT, DAU o qualsevol altre acceptat en la legislació vigent (en aquest cas l'administrador de el programa haurà d'autoritzar expressament l'ús de tal document com a referència).</li>
		      	</ul>
		      </p>

		    <% elsif params[:locale] == 'es' %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Documentos oficiales DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>El Programa DAPcons está actualizado a la nueva UNE-EN 15804:2012+A2:2020 ‘Sostenibilidad de las obras de construcción - Declaraciones medioambientales de productos - Normas básicas para la categoría de productos de la construcción’. Esta norma es la responsable del desarrollo de métodos horizontales estandarizados para la evaluación de la sostenibilidad de las obras de construcción nuevas y existentes; y de las normas para la declaración ambiental de productos (DAP) de los productos de construcción.</p>

		      <p>Los documentos que rigen el Programa DAPconstrucción<sup>®</sup>:</p>

		      <h4>Instrucciones Generales del Programa</h4>
		      <p>Las Instrucciones Generales del Programa (IGP) establecen de manera clara y ordenada, los criterios, las bases normativas, los objetivos, los procedimientos, los agentes participantes, las cuotas así como del resto de documentos que conforman el programa.</p>

		      <p><%= link_to "Instrucciones Generales del Programa", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_IGP_v4.pdf" %></p>
		      

		      <h4>Reglas de Categoría de Producto</h4>
		      <p>El desarrollo de una DAPcons<sup>®</sup> se basa en la aplicación de unas directrices que marcan como se debe realizar el estudio de Análisis del Ciclo de Vida (ACV) del producto en cuestión. Estas directrices son las denominadas Reglas de Categoría de Producto (RCP).</p>

		      <p>Las Reglas de Categoría de Producto (RCP) recogen los requisitos y directrices que deben seguir para desarrollar la declaración ambiental de producto, incluyendo el estudio del análisis del ciclo de vida correspondiente que puede variar según, por ejemplo, la función del producto, la incorporación de material reciclado o la complejidad del proceso productivo.</p>

		      <p>Las Reglas de Categoría de Producto (RCP) pueden ser:
		      	<ul>
		      		<li>Desarrolladas por el propio Programa DAPconstrucción®.</li>
							<li>Normas técnicas nacionales, europeas o internacionales.</li>
							<li>RCPs emitidas por un administrador de Programa reconocido internacionalmente.</li>
						</ul>
					</p>

		      <p>Actualmente se han desarrollado y son vigentes en el Programa DAPcons<sup>®</sup>:
		      	<ul>
		      		<li>RCP de aislantes térmicos</li>
		      		<li>RCP de revestimientos cerámicos</li>
		      		<li><%= link_to "RCP de piedra y áridos", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_RCP004_v3.pdf" %></li>
		      		<li><%= link_to "RCP de productos de construcción en general", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210527_DAPcons_RCP100_v3.1.pdf" %>. Válida para cualquier tipo de producto de construcción, de acuerdo con las normas nacionales e internacionales que las rigen, o bien según documentos aportados; DITE, DIT, DAU o cualquier otro aceptado en la legislación vigente (en este caso el administrador del programa deberá autorizar expresamente el uso de tal documento como referencia).</li>
		      	</ul>
		      </p>

		    <% else %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Documentos oficiales DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>El Programa DAPcons está actualizado a la nueva UNE-EN 15804:2012+A2:2020 ‘Sostenibilidad de las obras de construcción - Declaraciones medioambientales de productos - Normas básicas para la categoría de productos de la construcción’. Esta norma es la responsable del desarrollo de métodos horizontales estandarizados para la evaluación de la sostenibilidad de las obras de construcción nuevas y existentes; y de las normas para la declaración ambiental de productos (DAP) de los productos de construcción.</p>

		      <p>Los documentos que rigen el Programa DAPconstrucción<sup>®</sup>:</p>

		      <h4>Instrucciones Generales del Programa</h4>
		      <p>Las Instrucciones Generales del Programa (IGP) establecen de manera clara y ordenada, los criterios, las bases normativas, los objetivos, los procedimientos, los agentes participantes, las cuotas así como del resto de documentos que conforman el programa.</p>

		      <p><%= link_to "Instrucciones Generales del Programa", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_IGP_v4.pdf" %></p>
		      

		      <h4>Reglas de Categoría de Producto</h4>
		      <p>El desarrollo de una DAPcons<sup>®</sup> se basa en la aplicación de unas directrices que marcan como se debe realizar el estudio de Análisis del Ciclo de Vida (ACV) del producto en cuestión. Estas directrices son las denominadas Reglas de Categoría de Producto (RCP).</p>

		      <p>Las Reglas de Categoría de Producto (RCP) recogen los requisitos y directrices que deben seguir para desarrollar la declaración ambiental de producto, incluyendo el estudio del análisis del ciclo de vida correspondiente que puede variar según, por ejemplo, la función del producto, la incorporación de material reciclado o la complejidad del proceso productivo.</p>

		      <p>Las Reglas de Categoría de Producto (RCP) pueden ser:
		      	<ul>
		      		<li>Desarrolladas por el propio Programa DAPconstrucción®.</li>
							<li>Normas técnicas nacionales, europeas o internacionales.</li>
							<li>RCPs emitidas por un administrador de Programa reconocido internacionalmente.</li>
						</ul>
					</p>

		      <p>Actualmente se han desarrollado y son vigentes en el Programa DAPcons<sup>®</sup>:
		      	<ul>
		      		<li>RCP de aislantes térmicos</li>
		      		<li>RCP de revestimientos cerámicos</li>
		      		<li><%= link_to "RCP de piedra y áridos", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_RCP004_v3.pdf" %></li>
		      		<li><%= link_to "RCP de productos de construcción en general", "https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210527_DAPcons_RCP100_v3.1.pdf" %>. Válida para cualquier tipo de producto de construcción, de acuerdo con las normas nacionales e internacionales que las rigen, o bien según documentos aportados; DITE, DIT, DAU o cualquier otro aceptado en la legislación vigente (en este caso el administrador del programa deberá autorizar expresamente el uso de tal documento como referencia).</li>
		      	</ul>
		      </p>

		    <% end %>
		  </div>
		</div>

</div>
<%= render "layouts/dapcons_noticies" %>

