<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Entitats col·laboradores</span>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://gbce.es/certificacion-verde" do %>
		      		<%= image_tag "https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_gbce.gif" %>
		      	<% end %>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://www.recons-consta.org/" do %>
		      		<%= image_tag "https://csosteniblev4.s3.eu-west-1.amazonaws.com/imatges/consta+amb+fons+transparent.gif" %>
		      	<% end %>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://www.recons-consta.org/" do %>
		      		<%= image_tag "https://csosteniblev4.s3.eu-west-1.amazonaws.com/imatges/logo+recons+2020.png" %>
		      	<% end %>
		      </div>

		    <% elsif params[:locale] == 'es' %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Entidades colaboradoras</span>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://gbce.es/certificacion-verde" do %>
		      		<%= image_tag "https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_gbce.gif" %>
		      	<% end %>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://www.recons-consta.org/" do %>
		      		<%= image_tag "https://csosteniblev4.s3.eu-west-1.amazonaws.com/imatges/consta+amb+fons+transparent.gif" %>
		      	<% end %>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://www.recons-consta.org/" do %>
		      		<%= image_tag "https://csosteniblev4.s3.eu-west-1.amazonaws.com/imatges/logo+recons+2020.png" %>
		      	<% end %>
		      </div>

		    <% else %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Associates</span>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://gbce.es/certificacion-verde" do %>
		      		<%= image_tag "https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_gbce.gif" %>
		      	<% end %>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://www.recons-consta.org/" do %>
		      		<%= image_tag "https://csosteniblev4.s3.eu-west-1.amazonaws.com/imatges/consta+amb+fons+transparent.gif" %>
		      	<% end %>
		      </div>

		      <div class="imatge-dapcons-centrada">
		      	<%= link_to "https://www.recons-consta.org/" do %>
		      		<%= image_tag "https://csosteniblev4.s3.eu-west-1.amazonaws.com/imatges/logo+recons+2020.png" %>
		      	<% end %>
		      </div>
		      
		    <% end %>
		  </div>
		</div>
</div>
<%= render "layouts/dapcons_noticies" %>