<%= render "layouts/dapcons_navigation" %>

	<div class="medium-9 cell">
		<div class="continguts-dapcons">
			<div class="main-title-container">
        <span class="main-title"><%= t('.comparador') %></span>
      </div>

      <div class="seleccio-productes">
      	<div class="notice-seleccio-productes callout primary">
      		<%= t('.selecciona_productes') %>
      	</div>
      	
	      	<div class="llistat-productes">
	      		<div class="titol-categoria">
	      			<h4><%= t('.aillants_termics') %></h4>
	      		</div>
	      		<div class="productes-categoria">
	      			<div class="grid-x grid-margin-x">
	      				<% @aillants_termics.each do |producte| %>
		      				<div class="medium-6 cell">
				      			<div class="comparador-dapcons-item" tipus="sistema" valor="<%= producte.id %>">
				      				<div class="comparador-dapcons-item-nom">
				      					<%= producte.nom_ca %>
				      				</div>
				      				<div class="comparador-dapcons-item-empresa">
				      					<%= producte.empresa %>
				      				</div>
				      			</div>
				      		</div>
				      	<% end %>
				      </div>
				    </div>

				    <div class="titol-categoria">
	      			<h4><%= t('.revestiments_ceramics') %></h4>
	      		</div>
	      		<div class="productes-categoria">
	      			<div class="grid-x grid-margin-x">
	      				<% @revestiments_ceramics.each do |producte| %>
		      				<div class="medium-6 cell">
				      			<div class="comparador-dapcons-item" tipus="sistema" valor="<%= producte.id %>">
				      				<div class="comparador-dapcons-item-nom">
				      					<%= producte.nom_ca %>
				      				</div>
				      				<div class="comparador-dapcons-item-empresa">
				      					<%= producte.empresa %>
				      				</div>
				      			</div>
				      		</div>
				      	<% end %>
				      </div>
				    </div>

				    <div class="titol-categoria">
	      			<h4><%= t('.pedra_natural') %></h4>
	      		</div>
	      		<div class="productes-categoria">
	      			<div class="grid-x grid-margin-x">
	      				<% @pedra_natural.each do |producte| %>
		      				<div class="medium-6 cell">
				      			<div class="comparador-dapcons-item" tipus="sistema" valor="<%= producte.id %>">
				      				<div class="comparador-dapcons-item-nom">
				      					<%= producte.nom_ca %>
				      				</div>
				      				<div class="comparador-dapcons-item-empresa">
				      					<%= producte.empresa %>
				      				</div>
				      			</div>
				      		</div>
				      	<% end %>
				      </div>
				    </div>

				    <div class="titol-categoria">
	      			<h4><%= t('.construccio_general') %></h4>
	      		</div>
	      		<div class="productes-categoria">
	      			<div class="grid-x grid-margin-x">
	      				<% @productes_general.each do |producte| %>
		      				<div class="medium-6 cell">
				      			<div class="comparador-dapcons-item" tipus="sistema" valor="<%= producte.id %>">
				      				<div class="comparador-dapcons-item-nom">
				      					<%= producte.nom_ca %>
				      				</div>
				      				<div class="comparador-dapcons-item-empresa">
				      					<%= producte.empresa %>
				      				</div>
				      			</div>
				      		</div>
				      	<% end %>
				      </div>
				    </div>

				    <div class="titol-categoria">
	      			<h4><%= t('.teus_productes') %></h4>
	      			<p><%= t('.productes_usuari') %></p>
	      		</div>
	      		<div class="productes-categoria">
	      			<div class="grid-x grid-margin-x">
	      				<% @productes_usuari.each do |producte| %>
		      				<div class="medium-6 cell">
				      			<div class="comparador-dapcons-item" tipus="usuari" valor="<%= producte.id %>">
				      				<div class="comparador-dapcons-item-nom">
				      					<%= producte.nom %>
				      				</div>
				      				<div class="comparador-dapcons-item-empresa">
				      					<%= producte.empresa %>
				      				</div>
				      			</div>
				      		</div>
				      	<% end %>
				      </div>
				    </div>

				    <div class="nou-producte-usuari">
				    	<%= link_to t('.gestor_productes'), producte_dapcons_usuaris_path, class: 'button' %>
				    </div>
			      		
      		</div>
      	
      </div>
    </div>
	</div>
	
<%= render "layouts/dapcons_noticies" %>    	

<script>
function goToURL(tipus_producte1, producte1, tipus_producte2, producte2) {
	location.href = 'comparador?tipus_producte1=' + tipus_producte1 + '&producte1=' + producte1 +'&tipus_producte2=' + tipus_producte2 + '&producte2=' + producte2 + '&locale=<%= params[:locale] %>';
}
var counter = 0;
var producte1;
var producte2;
$( ".comparador-dapcons-item" ).on( "click", function( event ) {
	counter ++;
	if (counter == 1) {
		$(this).addClass("item-seleccionat");
		producte1 = $(this).attr( "valor" );
		tipus_producte1 = $(this).attr( "tipus" );
	};
	if (counter == 2) {
		if ($(this).attr( "valor" ) == producte1 && $(this).attr( "tipus" ) == tipus_producte1) {
			counter = 0;
			$(this).removeClass("item-seleccionat");
		}
		else {
			$(this).addClass("item-seleccionat");
			producte2 = $(this).attr( "valor" );
			tipus_producte2 = $(this).attr( "tipus" );
			goToURL(tipus_producte1, producte1, tipus_producte2, producte2);
		}
		
	}
});
</script>