<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">

  			<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title"><%= t('.empreses_membre') %></span>
		      </div>

		      <div class="llistat-empreses-membre">
		      	<table class="organitzacions-afiliades">
		      		<thead>
						    <tr>
						      <th><%= t('.membre_num') %></th>
						      <th><%= t('.empresa') %></th>
						      <th><%= t('.dades') %></th>
						      <th><%= t('.certificacions') %></th>
						    </tr>
						  <tbody>
				      <% @empreses.each do |empresa| %>
				      	<tr>
				      		<td class="num_organitzacio"><%= empresa.numero_membre %></td>
					      	<td>
					      		<% if empresa.imatge_organitzacio.attached? %>
						      		<%= image_tag empresa.imatge_organitzacio, class: 'img-organitzacio' %>
						      	<% end %>
					      	</td>
					      	<td>
					      		<span class="nom-organitzacio-membre"><%= empresa.nom %></span><br/>
					      		<%= raw empresa.dades %></td>
					      	<td>
					      		<% if empresa.link_iso.present? %>
					      			<%= link_to "ISO 14.001", empresa.link_iso %>
					      		<% end %>
					      	</td>
				      <% end %>
				    	</tbody>
			    	</table>
		    	</div>

		    	<div class="separador-organitzacions-dapcons"></div>

		    	<div class="sub-title-container">
		        <span class="sub-title"><%= t('.entitats_membre') %></span>
		      </div>

		      <div class="llistat-entitats-membre">
		      	<table class="organitzacions-afiliades">
		      		<thead>
						    <tr>
						      <th><%= t('.membre_num') %></th>
						      <th><%= t('.entitat') %></th>
						      <th><%= t('.dades') %></th>
						      <th><%= t('.certificacions') %></th>
						    </tr>
						  <tbody>
				      <% @entitats.each do |entitat| %>
				      	<tr>
				      		<td class="num_organitzacio"><%= entitat.numero_membre %></td>
					      	<td>
					      		<% if entitat.imatge_organitzacio.attached? %>
						      		<%= image_tag entitat.imatge_organitzacio, class: 'img-organitzacio' %>
						      	<% end %>
					      	</td>
					      	<td>
					      		<span class="nom-organitzacio-membre"><%= entitat.nom %></span><br/>
					      		<%= raw entitat.dades %></td>
					      	<td>
					      		<% if entitat.link_iso.present? %>
					      			<%= link_to "ISO 14.001", entitat.link_iso %>
					      		<% end %>
					      	</td>
				      <% end %>
				    	</tbody>
			    	</table>
		    	</div>

		    <% else %>


		    <% end %>
				
			</div>
		</div>

</div>
<%= render "layouts/dapcons_noticies" %>