<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				<div class="sub-title-container">
	        <span class="sub-title"><%= raw t('.productes_registrats') %></span>
	      </div>

	      <div class="filtres-productes-dapcons">
	      	<div class="grid-x grid-margin-x">
	      		<div class="medium-6 cell">
	      			<div class="filtre-dapcons-container">
				      	<select name="filtre-dapcons" id="filtre-dapcons">
						      <option value="data" <% if params[:filtre] == 'data' %> selected="selected" <% end %>><%= t('.ordenar_data') %></option>
						      <option value="nom" <% if params[:filtre] == 'nom' %> selected="selected" <% end %>><%= t('.ordenar_empresa') %></option>
						      <option value="categoria" <% if params[:filtre] == 'categoria' %> selected="selected" <% end %>><%= t('.agrupar_categories') %></option>
						    </select>
						  </div>
					  </div>
					  <div class="medium-3 cell">
					  	<div class="checkbox-vigent-container">
	    					<input type="checkbox" name="checkbox-vigent" id="checkbox-vigent" <% if params[:validesa] == 'true' %> checked <% end %>>
	    					<label for="checkbox-vigent"><%= t('.dapcons_vigent') %></label>
	    				</div>
					  </div>
					  <div class="medium-3 cell">
					  	<div class="button-actualitzar-container">
					  		<button class="ui-button ui-widget ui-corner-all" id="actualitzar"><%= t('.actualitzar_llistat') %></button>
					  	</div>
					  </div>
					</div>
	      </div>

	      <div class="llistat-productes-dapcons">
	      	<% if @categoria == true %>
		    
		      	<div class="titol-categoria-productes-dapcons">
		      		<%= t('.revestiments_ceramics') %>
		      	</div>
		      	<div class="categoria-productes-dapcons">
		      		<% if @revestiments_ceramics.count == 0 %>
		      			<p><%= t('.no_productes') %></p>
		      		<% else %>
			      		<% @revestiments_ceramics.each do |producte| %>
			      			<%= render partial: "item_producte_dapcons", locals: { producte: producte } %>
			      		<% end %>
			      	<% end %>
		      	</div>

		      	<div class="separador-categoria-productes-dapcons"></div>

		      	<div class="titol-categoria-productes-dapcons">
		      		<%= t('.aillants_termics') %>
		      	</div>
		      	<div class="categoria-productes-dapcons">
		      		<% if @aillants_termics.count == 0 %>
		      			<p><%= t('.no_productes') %></p>
		      		<% else %>
			      		<% @aillants_termics.each do |producte| %>
			      			<%= render partial: "item_producte_dapcons", locals: { producte: producte } %>
			      		<% end %>
			      	<% end %>
		      	</div>

		      	<div class="separador-categoria-productes-dapcons"></div>

		      	<div class="titol-categoria-productes-dapcons">
		      		<%= t('.pedra_natural') %>
		      	</div>
		      	<div class="categoria-productes-dapcons">
		      		<% if @pedra_natural.count == 0 %>
		      			<p><%= t('.no_productes') %></p>
		      		<% else %>
			      		<% @pedra_natural.each do |producte| %>
			      			<%= render partial: "item_producte_dapcons", locals: { producte: producte } %>
			      		<% end %>
			      	<% end %>
		      	</div>

		      	<div class="separador-categoria-productes-dapcons"></div>

		      	<div class="titol-categoria-productes-dapcons">
		      		<%= t('.productes_general') %>
		      	</div>
		      	<div class="categoria-productes-dapcons">
		      		<% if @productes_general.count == 0 %>
		      			<p><%= t('.no_productes') %></p>
		      		<% else %>
			      		<% @productes_general.each do |producte| %>
			      			<%= render partial: "item_producte_dapcons", locals: { producte: producte } %>
			      		<% end %>
			      	<% end %>
		      	</div>

		      <% else %>
		      	<% @productes.each do |producte| %>
		      		<%= render partial: "item_producte_dapcons", locals: { producte: producte } %>
		      	<% end %>
		      <% end %>
	      </div>
	  
    	</div>
    </div>

</div>
<%= render "layouts/dapcons_noticies" %>

<script>
function goToURL(filtre, validesa) {
	location.href = 'productes_registrats?filtre=' + filtre + '&validesa=' + validesa + '&locale=<%= params[:locale] %>';
}
$( "#actualitzar" ).on( "click", function( event ) {
	filtre = $("#filtre-dapcons").val();
	validesa = $("#checkbox-vigent").is(":checked");
	goToURL(filtre, validesa)
});
</script>