<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Registrar un producte en el programa DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>Les DAPcons<sup>®</sup> tenen una validesa de 5 anys. Si durant el període de validesa es produeixen canvis a nivell tecnològic que poden produir una variació de l’impacte ambiental en el rang d’entre el 5i el 10% del producte afectat per la DAPcons<sup>®</sup>, l’organització n’haurà d’informar a l’administrador i posar en marxa una revisió.</p>

					<h4>Procediment per registrar un producte</h4>
					<p>Les organitzacions/empreses que volen registrar un producte en el programa DAPconstrucción® han de seguir el procediment segons:</p>
					<p>1. Han de ser <%= link_to "afiliats", dapcons_afiliacio_path %> al Programa.</p>
					
					<p>TREBALLS PREVIS</p>
					<p>2. Han de coneixer els <a href="https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_IGP_v4.pdf">procediments de desenvolupament</a> d’una DAPcons® i les <a href="https://www.csostenible.net/dapcons/documents_oficials?locale=ca">Regles de Categoria de Producte</a> (RCP) aplicables al seu producte.</p>
					<p>En el suposat que encara no s’hagi desenvolupat el document de RCP o norma internacional per al producte concret, s’haurà d’utilitzar la <a href="https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210527_DAPcons_RCP100_v3.1.pdf">RCP genèrica</a>. En aquest cas, cal la prèvia aprovació de l’administrador del programa en realitzar la petició de registre de la DAPcons.</p>
					<p>3. Desenvolupar un estudi de l’Anàlisi del Cicle de Vida (ACV) d’acord amb les Regles de Categoria del Producte (RCP) corresponents. L’ACV ha de ser realitzada per un consultor en ACV, sigui intern o extern a l’organització. El consultor ha de <a href="https://www.dapcons.com/login">registrar-se a la plataforma</a> del programa operador, com a consultor. L’informe de l’ACV seguirà el format determinat per les RCP.</p>
					<p>4. Contactar i contractar la verificació de les dades mitjançant un <a href="https://www.csostenible.net/dapcons/verificadors?locale=es">verificador independent</a> acreditat pel Programa qui realitzarà les comprovacions prèvies al registre.</p>

					<p>OPERATIVA DEL REGISTRE</p>
					<p>5. Fer la <a href="https://www.dapcons.com/login">petició de registre</a> de la DAP a través de la plataforma per part de l’organització/empresa. El programa operador emetrà factura segons la quota per al registre. Un cop feta la petició per part de l’organització/empresa, el consultor és qui ha d’accedir a la plataforma per generar la DAPcons®.</p>
					<p>6. El consultor (registrat), un cop feta la petició de registre per part de l’organització, ha d’introduir totes les dades necessàries de la DAPcons® a partir de l’estudi d’ACV, seguint les directrius del procediment i de les RCP corresponents.</p>
					<p>Un cop finalitzada la introducció de totes les dades, la plataforma envia comunicació al verificador per tal de procedir a la verificació. A partir d’aquest moment el consultor no pot fer modificacions.</p>
					<p>7. El verificador acreditat pel Programa DAPcons procedeix a la verificació de les dades i dels documents introduïts. En el cas d’incidències, crea notes d’avís per al consultor.</p>
					<p>8. Un cop finalitzat tot el procés d’introducció de les dades i verificades, l’Administrador del programa, prèvia comprovació del pagament de la quota corresponent, a través de la plataforma, aprova el registre de la DAPcons®  i fa l’enviament digital de les dades, així com el document en format pdf, al web de DAPcons, a la ECOPlatform, (si és el cas) i altres entitats afins. Les DAPcons® també són consultables en l’espai privat de les organitzacions en la plataforma.</p>

					<p class="centrat"><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/quadre_registre_CA.png" alt="Esquema DAPcons"></p>

					<h4>Quota per certificar un producte DAPcons<sup>®</sup>:</h4>

					<p>Tramitació de l’ecoetiqueta tipus III (DAPcons<sup>®</sup>) documentació i registre. Validesa: 5 anys
					<ul>
					<li>Primera DAPcons<sup>®</sup> 1.200 €</li>
					<li>Segona DAPcons<sup>®</sup> 600 €</li>
					<li>Tercera DAPcons<sup>®</sup> 450 €</li>
					<li>Quarta i següents DAPcons<sup>®</sup> 300 €</li>
					</ul>
					</p>

					<p>Renovació de l’ecoetiqueta tipus III (DAPcons<sup>®</sup>) documentació i registre. Validesa 5 anys
					<ul>
					<li>Primera DAPcons<sup>®</sup> 600 €</li>
					<li>Segona DAPcons<sup>®</sup> 325 €</li>
					<li>Tercera DAPcons<sup>®</sup> 250 €</li>
					<li>Quarta i següents DAPcons<sup>®</sup> 175 €</li>
					</ul>
					</p>


		    <% elsif params[:locale] == 'es' %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Registrar un producto en el programa DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>Las DAPcons<sup>®</sup> tienen un periodo de validez definido de 5 años. Si durante el período de validez se producen cambios a nivel tecnológico que puedan conllevar a una variación del impacto ambiental en el rango del 5-10% del producto afectado por la DAPcons<sup>®</sup>, la organización deberá informar al administrador y poner en marcha su revisión.</p>

					<h4>Procedimiento para registrar un producto</h4>
					<p>Las organizaciones/empresas que quieren registrar un producto en el programa DAPconstrucción® deben seguir el procedimiento según:</p>
					<p>1. Deben ser <%= link_to "afiliados", dapcons_afiliacio_path %> al Programa.</p>
					
					<p>TRABAJOS PREVIOS</p>
					<p>2. Deben conocer <a href="https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_IGP_v4.pdf">los procedimientos de desarrollo</a> de una DAPcons® y las <a href="https://www.csostenible.net/dapcons/documents_oficials?locale=es">y las Reglas de Categoría de Producto</a> (RCP) aplicables a su producto.</p>
					<p>En el supuesto de que aún no se haya desarrollado el documento de RCP o norma internacional para el producto concreto, se deberá utilizar la  <a href="https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210527_DAPcons_RCP100_v3.1.pdf">RCP genérica</a>. En este caso, es necesaria la previa aprobación del administrador del programa al realizar la petición de registro de la DAPcons.</p>
					<p>3. Desarrollar un estudio del Análisis del Ciclo de Vida (ACV) de acuerdo con las Reglas de Categoría del Producto (RCP) correspondientes. La ACV debe ser realizada por un consultor en ACV, sea interno o externo a la organización. El consultor debe  <a href="https://www.dapcons.com/login">registrarse en la plataforma </a> del programa operador, como consultor. El informe de la ACV seguirá el formato determinado por las RCP.</p>
					<p>4. Contactar y contratar la verificación de los datos mediante un <a href="https://www.csostenible.net/dapcons/verificadors?locale=es">verificador independiente</a> acreditado por el Programa quien realizará las comprobaciones previas al registro.</p>

					<p>OPERATIVA DEL REGISTRO</p>
					<p>5. Hacer la <a href="https://www.dapcons.com/login">petición de registro </a> de la DAP a través de la plataforma por parte de la organización/empresa. El programa operador emitirá factura según la cuota para el registro. Una vez hecha la petición por parte de la organización/empresa, el consultor es quien debe acceder a la plataforma para generar la DAPcons®.</p>
					<p>6. El consultor (registrado), una vez hecha la petición de registro por parte de la organización, debe introducir todos los datos necesarios de la DAPcons® a partir del estudio de ACV, siguiendo las directrices del procedimiento y de las RCP correspondientes.</p>
					<p>Una vez finalizada la introducción de todos los datos, la plataforma envía comunicación al verificador con el fin de proceder a la verificación. A partir de este momento el consultor no puede hacer modificaciones.</p>
					<p>7. El verificador acreditado por el Programa DAPcons procede a la verificación de los datos y de los documentos introducidos. En el caso de incidencias, crea notas de aviso para el consultor.</p>
					<p>8. Una vez finalizado todo el proceso de introducción de los datos y verificados, el Administrador del programa, previa comprobación del pago de la cuota correspondiente, a través de la plataforma, aprueba el registro de la DAPcons® y hace el envío digital de los datos, así como el documento en formato pdf, a la web de DAPcons, a la ECOPlatform,  (si es el caso) y otras entidades afines. Las DAPcons® también son consultables en el espacio privado de las organizaciones en la plataforma.</p>

					<p class="centrat"><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/cuadro_registro_ES.png" alt="Esquema DAPcons"></p>


					<h4>Cuota para certificar un producto DAPcons<sup>®</sup></h4>

					<p>Tramitación de la ecoetiqueta tipo III (DAPcons<sup>®</sup>) documentación y registro. Validez: 5 años
					<ul>
					<li>Primera DAPcons<sup>®</sup> 1.200 €</li>
					<li>Segunda DAPcons<sup>®</sup> 600 €</li>
					<li>Tercera DAPcons<sup>®</sup> 450 €</li>
					<li>Cuarta y siguientes DAPcons<sup>®</sup> 300 €</li>
					</ul>         
					</p>

					<p>Renovación de la ecoetiqueta tipo III (DAPcons<sup>®</sup>) documentación y registro. Validez 5 años
					<ul>
					<li>Primera DAPcons<sup>®</sup> 600 €</li>
					<li>Segunda DAPcons<sup>®</sup> 325 €</li>
					<li>Tercera DAPcons<sup>®</sup> 250 €</li>
					<li>Cuarta y siguientes DAPcons<sup>®</sup> 175 €</li>
					</ul>
					</p>

					<br/>
					<h4>Registro</h4>
					<p><a href="https://s3-eu-west-1.amazonaws.com/csosteniblev4/dapcons/solicitud_registro.pdf">Solicitud de registro</a></p>

				<% else %>

					<div class="sub-title-container">
		        <span class="sub-title">Register a product in the DAPconstruction<sup>®</sup> Program</span>
		      </div>

		      <p>The DAPcons<sup>®</sup> have a defined validity period of 5 years. If, during the validity period, changes occur at a technological level that may lead to a variation of the environmental impact in the range of 5-10% of the product affected by the DAPcons<sup>®</sup>, the organization shall inform the administrator and start your review.</p>

					<h4>Procedure to register a product</h4>
					<p>Organizations/companies that want to register a product in the DAPconstrucción® program must follow the procedure according to:</p>
					<p>1. They must be <%= link_to "affiliated", dapcons_afiliacio_path %> to the Program.</p>

					<p>PREVIOUS WORK</p>
					<p>2. They must know the <a href="https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210505_DAPcons_IGP_v4.pdf">development procedures</a> for a DAPcons® and the <a href="https://www.csostenible.net/dapcons/documents_oficials?locale=en">Product Category Rules</a> (RCP) applicable to their product.</p>
					<p>In the event that the RCP document or international standard for the specific product has not yet been developed, the <a href="https://csosteniblev4.s3.eu-west-1.amazonaws.com/documents/20210527_DAPcons_RCP100_v3.1.pdf">Generic CPR should be used</a>. In this case, the prior approval of the program administrator is required when making the DAPcons registration request.</p>
					<p>3. Develop a Life Cycle Analysis (LCA) study in accordance with the corresponding Product Category Rules (PCR). The LCA must be carried out by a LCA consultant, either internal or external to the organization. The consultant must <a href="https://www.dapcons.com/login">register on the platform</a> of the operator program, as a consultant. The ACV report will follow the format determined by the RCP.</p>
					<p>4. Contact and contract the verification of the data through an <a href="https://www.csostenible.net/dapcons/verificadors?locale=en">independent verifier</a> accredited by the Program who will carry out the pre-registration checks.</p>

					<p>REGISTRATION OPERATION</p>
					<p>5. Making the DAP <a href="https://www.dapcons.com/login">registration request</a> through the platform by the organization/company. The operating program will issue an invoice according to the registration fee. Once the request has been made by the organization/company, the consultant is the one who must access the platform to generate the DAPcons®.</p>
					<p>6. The (registered) consultant, once the registration request has been made by the organization, must enter all the necessary data from the DAPcons® based on the ACV study, following the guidelines of the procedure and the Corresponding PCR.</p>
					<p>Once the introduction of all the data is complete, the platform sends communication to the verifier in order to proceed with the verification. From this moment on, the consultant cannot make any changes.</p>
					<p>7. The verifier accredited by the DAPcons Program verifies the data and documents entered. In the case of incidents, create warning notes for the consultant.</p>
					<p>8. Once the entire process of entering and verifying the data has been completed, the Program Administrator, after checking the payment of the corresponding fee, through the platform, approves the DAPcons® registration and sends the digital data, as well as the document in pdf format, on the DAPcons website, the ECOPlatform (if applicable) and other related entities. The DAPcons® can also be consulted in the private space of the organizations on the platform.</p>

					<p class="centrat"><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/cuadro_registro_ES.png" alt="Esquema DAPcons"></p>


					<h4>Fee to certify a DAPcons<sup>®</sup> product</h4>

					<p>Processing of type III ecolabel (DAPcons <sup>®</sup>) documentation and registration. Validity: 5 years
					<ul>
					<li>First DAPcons<sup>®</sup> 1.200 €</li>
					<li>Second DAPcons<sup>®</sup> 600 €</li>
					<li>Third DAPcons<sup>®</sup> 450 €</li>
					<li>Fourth and next DAPcons<sup>®</sup> 300 €</li>
					</ul>         
					</p>

					<p>Renewal of ecolabel type III (DAPcons<sup>®</sup>) documentation and registration. Validity: 5 years
					<ul>
					<li>First DAPcons<sup>®</sup> 600 €</li>
					<li>Second DAPcons<sup>®</sup> 325 €</li>
					<li>Third DAPcons<sup>®</sup> 250 €</li>
					<li>Fourth and next DAPcons<sup>®</sup> 175 €</li>
					</ul>
					</p>

					<br/>
					<h4>Registry</h4>
					<p><a href="https://s3-eu-west-1.amazonaws.com/csosteniblev4/dapcons/solicitud_registro.pdf">Registration request</a></p>

		    <% end %>
		  </div>
		</div>
</div>
<%= render "layouts/dapcons_noticies" %>