<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Verificadors de productes DAPcons<sup>®</sup></span>
		      </div>

		      <p>Els verificadors determinen si la declaració ambiental de producte elaborada per una empresa  compleix amb les normes internacionals, els requisits del Programa i les regles de categoria de producte corresponent. </p>

<p>Els verificadors són professionals o institucions independents, acreditats pe r l’administrador del Programa DAPcons<sup>®</sup> que no han estat involucrats en la realització de l’ACV o l’esborrany de la DAPcons<sup>®</sup>, no tenen conflictes d’interessos amb l’empresa que la desenvolupa.</p>

					<h4>Verificadors acreditats:</h4>
					<table class="centpercent">
						<tr class="blau">
							<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_itec_complet.png"></td>
							<td>Wellington, 19<br />08018 Barcelona<br />Tel. 933093404<br />fax 933004852<br />info@itec.cat<br /><a href="http://www.itec.cat">www.itec.cat</a></td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/isolana.jpg"></td>
						<td>C/ Cobalto 95<br />08907 L’Hospitalet de Llobregat<br />telf. 932615435<br />ahorroenergetico@isolana.es<br /><a href="http://www.isolanaahorroenergetico.es">www.isolanaahorroenergetico.es</a></td>
						</tr>
						<tr class="blau">
													<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/marcel_gomez_t4.png"></td>
													<td>Torrent de Vallmora 24-26 1º 2ª<br/>
						08320 El Masnou (Barcelona)<br/>
						Tlfs 935559602/630643593<br/>
						info@marcelgomez.com<br/>
						<a href="http://www.marcelgomez.com">www.marcelgomez.com</a><br/>
						</td>
												</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_rema-2.gif"></td>
						<td>C/ Crevillente, 1, entlo.<br/>
						12005 CASTELLÓ<br/>
						Tel. 964059059<br/>
						Mòbil: 609056194<br/>
						info@rema.es<br/>
						<a href="http://www.rema.es">www.rema.es</a></td>
						</tr>

						<tr class="blau">
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_lavola.png"></td>
						<td>Av. Roma 252-254<br/>
						08560 MANLLEU<br/>
						Tel. 938515055<br/>
						admin@lavola.com<br/>
						<a href="http://www.lavola.com">www.lavola.com</a></td>
						</tr>

						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_ecopenta.png"></td>
						<td>C/ Tuset, 19, 1r 3a<br/>
						08006 Barcelona<br/>
						info@ecopenta.com<br/>
						<a href="http://ecopenta.com">ecopenta.com</a></td>
						</tr>

						<tr class="blau">
						<td><img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/logo_ctme2.png"></td>
						<td>C/ Montañana R60/R61<br/>
						09200 Miranda de Ebro<br/>
						secretaria@ctme.es<br/>
						<a href="https://ctme.es/es">ctme.es</a></td>
						</tr>
					</table>

						<br/>
						<h4>Acreditar-se com a verificador</h4>

						<p>El personal verificador ha de tenir una titulació de grau científic o tècnic o equivalent i demostrar tres anys d’experiència en sectors relacionats, a més, haurà de demostrar coneixements i experiència específica en el sector de la construcció, els seus productes i els aspectes ambientals relacionats; productes i processos relacionats amb la construcció; aplicació de la metodologia de l’ACV; normativa rellevant en relació a l’ACV; marc regulador relatiu a ecoetiquetes i el desenvolupament de RCP; programa d’ecoetiquetes tipus III.</p>

						<p>Per conèixer els detalls exactes heu de consultar el punt 3.1.5 de les <%= link_to "IGP", "https://s3-eu-west-1.amazonaws.com/csosteniblev4/documents/INSTRUCCIONES%2BGENERALES%2BDEL%2BPROGRAMA%2BDAPcons%2B2017.pdf" %>.</p>

						<p>Per acreditar-se com a verificador és necessari omplir el <a href="https://s3-eu-west-1.amazonaws.com/csosteniblev4/documents/formulario_verificadores.docx">Formulari</a> i aportar tota la informació requerida.</p>

						<h4>Quota d’acreditació dels verificadors</h4> 
						<p>La quota per acreditar-se com a verificador és de 250€ i té una validesa de 5 anys. </p>




		    <% elsif params[:locale] == 'es' %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Verificadores de productos DAPcons<sup>®</sup></span>
		      </div>

		      <p>Los verificadores determinan si la declaración ambiental de producto elaborada por una empresa cumple con las normas internacionales, los requisitos del Programa y las reglas de categoría de producto correspondientes.</p>

					<p>Los verificadores son profesionales o instituciones independientes, acreditados por el administrador del Programa DAPcons<sup>®</sup>, que no han estado involucrados en la realización del ACV o el borrador de la DAPcons<sup>®</sup>, ni tiene conflictos de intereses en relación con la empresa que la desarrolla.</p> 

					<h4>Verificadores acreditados</h4>

					<table class="centpercent">
						<tr class="blau">
							<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_itec_complet.png"></td>
							<td>Wellington, 19<br />08018 Barcelona<br />tel. 933093404<br />fax 933004852<br />info@itec.cat<br /><a href="http://www.itec.es">www.itec.es</a></td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/isolana.jpg"></td>
						<td>C/ Cobalto 95<br />08907 L’Hospitalet de Llobregat<br />telf. 932615435<br />ahorroenergetico@isolana.es<br /><a href="http://www.isolanaahorroenergetico.es">www.isolanaahorroenergetico.es</a></td>
						</tr>
						<tr class="blau">
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/marcel_gomez_t4.png"></td>
													<td>Torrent de Vallmora 24-26 1º 2ª<br/>
						08320 El Masnou (Barcelona)<br/>
						Tlfs 935559602/630643593<br/>
						info@marcelgomez.com<br/>
						<a href="http://www.marcelgomez.com">www.marcelgomez.com</a><br/>
						</td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_rema-2.gif"></td>
						<td>C/ Crevillente, 1, entlo.<br/>
						12005 CASTELLÓ<br/>
						Tel. 964059059<br/>
						Movil: 609056194<br/>
						info@rema.es<br/>
						<a href="http://www.rema.es">www.rema.es</a></td>
						</tr>

						<tr class="blau">
						<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/logo_lavola.png"></td>
						<td>Av. Roma 252-254<br/>
						08560 MANLLEU<br/>
						Tel. 938515055<br/>
						admin@lavola.com<br/>
						<a href="http://www.lavola.com">www.lavola.com</a></td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_ecopenta.png"></td>
						<td>C/ Tuset, 19, 1r 3a<br/>
						08006 Barcelona<br/>
						info@ecopenta.com<br/>
						<a href="http://ecopenta.com">ecopenta.com</a></td>
						</tr>
											</table>

						<br/>
						<h4>Acreditarse como verificador</h4>

						<p>El personal verificador debe tener una titulación de grado científico o técnico o equivalente y demostrar tres años de experiencia en sectores relacionados, además, deberá demostrar conocimientos y experiencia específica en el sector de la construcción, sus productos y los aspectos ambientales relacionados; productos y procesos relacionados con la construcción; aplicación de la metodología del ACV; normativa relevante en relación al ACV; marco regulador relativo a ecoetiquetas y el desarrollo de RCP; programa de ecoetiquetado tipo III.</p>

						<p>Para conocer los detalles exactos deben consultar el punto 3.1.5 de las <%= link_to "IGP", "https://s3-eu-west-1.amazonaws.com/csosteniblev4/documents/INSTRUCCIONES%2BGENERALES%2BDEL%2BPROGRAMA%2BDAPcons%2B2017.pdf" %>.</p>

						<p>Para acreditarse como verificador es necesario cumplimentar el <a href="https://s3-eu-west-1.amazonaws.com/csosteniblev4/documents/formulario_verificadores.docx">Formulario</a> y aportar toda la información requerida en él.</p>

						<h4>Cuota de acreditación de verificadores</h4>

						<p>La cuota para acreditarse como verificador es de 250€ y tiene una validez de 5 años.</p>

				<% else %>

					<div class="sub-title-container">
		        <span class="sub-title">DAPcons<sup>®</sup> product testers</span>
		      </div>

		      <p>The verifiers determine whether the environmental product declaration prepared by a company complies with international standards, the requirements of the Program and the corresponding product category rules.</p>

					<p>The verifiers are professionals or independent institutions, accredited by the administrator of the DAPcons <sup>®</sup> Program, who have not been involved in the realization of the ACV or the draft of the DAPcons <sup>®</sup>, nor has conflicts of interest in relation to the company that develops it.</p> 

					<h4>Accredited verifiers</h4>

					<table class="centpercent">
						<tr class="blau">
							<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_itec_complet.png"></td>
							<td>Wellington, 19<br />08018 Barcelona<br />tel. 933093404<br />fax 933004852<br />info@itec.cat<br /><a href="http://www.itec.es">www.itec.es</a></td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/isolana.jpg"></td>
						<td>C/ Cobalto 95<br />08907 L’Hospitalet de Llobregat<br />telf. 932615435<br />ahorroenergetico@isolana.es<br /><a href="http://www.isolanaahorroenergetico.es">www.isolanaahorroenergetico.es</a></td>
						</tr>
						<tr class="blau">
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/marcel_gomez_t4.png"></td>
													<td>Torrent de Vallmora 24-26 1º 2ª<br/>
						08320 El Masnou (Barcelona)<br/>
						Tlfs 935559602/630643593<br/>
						info@marcelgomez.com<br/>
						<a href="http://www.marcelgomez.com">www.marcelgomez.com</a><br/>
						</td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_rema-2.gif"></td>
						<td>C/ Crevillente, 1, entlo.<br/>
						12005 CASTELLÓ<br/>
						Tel. 964059059<br/>
						Movil: 609056194<br/>
						info@rema.es<br/>
						<a href="http://www.rema.es">www.rema.es</a></td>
						</tr>

						<tr class="blau">
						<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/logo_lavola.png"></td>
						<td>Av. Roma 252-254<br/>
						08560 MANLLEU<br/>
						Tel. 938515055<br/>
						admin@lavola.com<br/>
						<a href="http://www.lavola.com">www.lavola.com</a></td>
						</tr>
						<tr>
						<td><img src="https://s3-eu-west-1.amazonaws.com/csosteniblev4/imatges/logo_ecopenta.png"></td>
						<td>C/ Tuset, 19, 1r 3a<br/>
						08006 Barcelona<br/>
						info@ecopenta.com<br/>
						<a href="http://ecopenta.com">ecopenta.com</a></td>
						</tr>
											</table>

						<br/>
						<h4>Be accredited as a verifier</h4>

						<p>The verification staff must have a degree of scientific or technical degree or equivalent and demonstrate three years of experience in related sectors, in addition, must demonstrate knowledge and specific experience in the construction sector, its products and related environmental aspects; products and processes related to construction; application of the LCA methodology; relevant regulations in relation to the ACV; regulatory framework related to eco-labels and the development of CPR; eco-labeling program type III.</p>

						<p>To know the exact details you should consult point 3.1.5 of the <%= link_to "IGP", "https://s3-eu-west-1.amazonaws.com/csosteniblev4/documents/INSTRUCCIONES%2BGENERALES%2BDEL%2BPROGRAMA%2BDAPcons%2B2017.pdf" %>.</p>

						<p>To be accredited as a verifier, it is necessary to complete the <a href="https://s3-eu-west-1.amazonaws.com/csosteniblev4/documents/formulario_verificadores.docx">Form</a> and provide all the information required in it.</p>

						<h4>Verifier accreditation fee</h4>

						<p>The fee to be accredited as a verifier is € 250 and is valid for 5 years.</p>

		    <% end %>
		  </div>
		</div>
</div>
<%= render "layouts/dapcons_noticies" %>