<p id="notice"><%= notice %></p>

<h1>Mk Imatges</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Mk product</th>
      <th>Descripcio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mk_imatges.each do |mk_imatge| %>
      <tr>
        <td><%= mk_imatge.user_id %></td>
        <td><%= mk_imatge.mk_product_id %></td>
        <td><%= mk_imatge.descripcio %></td>
        <td><%= link_to 'Show', mk_imatge %></td>
        <td><%= link_to 'Edit', edit_mk_imatge_path(mk_imatge) %></td>
        <td><%= link_to 'Destroy', mk_imatge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mk Imatge', new_mk_imatge_path %>
