<p id="notice"><%= notice %></p>

<p>
  <strong>Nom ca:</strong>
  <%= @tipus_dada_inventari.nom_ca %>
</p>

<p>
  <strong>Nom es:</strong>
  <%= @tipus_dada_inventari.nom_es %>
</p>

<p>
  <strong>Nom en:</strong>
  <%= @tipus_dada_inventari.nom_en %>
</p>

<p>
  <strong>Unitats:</strong>
  <%= @tipus_dada_inventari.unitats %>
</p>

<%= link_to 'Edit', edit_tipus_dada_inventari_path(@tipus_dada_inventari) %> |
<%= link_to 'Back', tipus_dada_inventaris_path %>
