
<%= simple_form_for(@noticia) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="noticia-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-3 cell">
          <%= f.input :data, as: :string, format: :short %>
          <%= f.input :dapc %>
        </div>
        <div class="medium-4 cell">
          <%= f.input :imatge_noticia, as: :file %>
        </div>
        <div class="medium-5 cell">
          <%= image_tag @noticia.imatge_noticia, class: 'img-noticia' %>
        </div>
      </div>
    </div>

    <div class="noticia-titol-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <h3>Català</h3>
        </div>
      </div>
    </div>
    <div class="noticia-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :titol_ca %>
          <%= f.input :resum_ca %>
          <%= f.input :permalink_ca %>
        </div>
        <div class="medium-6 cell">
          <input id="noticia_contingut_ca" type="hidden" name="noticia[contingut_ca]" value="<%= @noticia.contingut_ca %>">
          <trix-editor input="noticia_contingut_ca"></trix-editor>
        </div>
      </div>
    </div>

    <div class="noticia-titol-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <h3>Castellà</h3>
        </div>
      </div>
    </div>
    <div class="noticia-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :titol_es %>
          <%= f.input :resum_es %>
          <%= f.input :permalink_es %>
        </div>
        <div class="medium-6 cell">
          <input id="noticia_contingut_es" type="hidden" name="noticia[contingut_es]" value="<%= @noticia.contingut_es %>">
          <trix-editor input="noticia_contingut_es"></trix-editor>
        </div>
      </div>
    </div>
    
    <div class="noticia-titol-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-12 cell">
          <h3>Anglès</h3>
        </div>
      </div>
    </div>
    <div class="noticia-editor-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell">
          <%= f.input :titol_en %>
          <%= f.input :resum_en %>
          <%= f.input :permalink_en %>
        </div>
        <div class="medium-6 cell">
          <input id="noticia_contingut_en" type="hidden" name="noticia[contingut_en]" value="<%= @noticia.contingut_en %>">
          <trix-editor input="noticia_contingut_en"></trix-editor>
        </div>
      </div>
    </div>
 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $( function() {
    $( "#noticia_data" ).datepicker({
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
      regional: "es"
    })
  });
</script>