<div class="container">
  <div class="grid-x">
    <div class="cell medium-12">
      <h1><%= @noticia.titol_ca %></h1>
      <p class="data-noticia"><%= @noticia.data.strftime("%-d-%m-%Y") %></p>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
      <%= image_tag @noticia.imatge_noticia, class: 'img-noticia' %>
    </div>
    <div class="medium-6 cell">
      <%= @noticia.contingut_ca.html_safe %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticies_path %>
