<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mk_user.user_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @mk_user.nom %>
</p>

<p>
  <strong>Cognoms:</strong>
  <%= @mk_user.cognoms %>
</p>

<p>
  <strong>Adreca:</strong>
  <%= @mk_user.adreca %>
</p>

<p>
  <strong>Codi postal:</strong>
  <%= @mk_user.codi_postal %>
</p>

<p>
  <strong>Municipi:</strong>
  <%= @mk_user.municipi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mk_user.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @mk_user.telefon %>
</p>

<p>
  <strong>Web:</strong>
  <%= @mk_user.web %>
</p>

<p>
  <strong>Mostrar adreca:</strong>
  <%= @mk_user.mostrar_adreca %>
</p>

<p>
  <strong>Mostrar email:</strong>
  <%= @mk_user.mostrar_email %>
</p>

<p>
  <strong>Mostrar telefon:</strong>
  <%= @mk_user.mostrar_telefon %>
</p>

<p>
  <strong>Mostrar web:</strong>
  <%= @mk_user.mostrar_web %>
</p>

<%= link_to 'Edit', edit_mk_user_path(@mk_user) %> |
<%= link_to 'Back', mk_users_path %>
