<p id="notice"><%= notice %></p>

<p>
  <strong>Epd uuid:</strong>
  <%= @epd_indicator.epd_id %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @epd_indicator.indicator %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @epd_indicator.unit %>
</p>

<p>
  <strong>A1-a3:</strong>
  <%= @epd_indicator.a1_a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @epd_indicator.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @epd_indicator.a5 %>
</p>

<p>
  <strong>B1:</strong>
  <%= @epd_indicator.b1 %>
</p>

<p>
  <strong>B2:</strong>
  <%= @epd_indicator.b2 %>
</p>

<p>
  <strong>B3:</strong>
  <%= @epd_indicator.b3 %>
</p>

<p>
  <strong>B4:</strong>
  <%= @epd_indicator.b4 %>
</p>

<p>
  <strong>B5:</strong>
  <%= @epd_indicator.b5 %>
</p>

<p>
  <strong>B6:</strong>
  <%= @epd_indicator.b6 %>
</p>

<p>
  <strong>B7:</strong>
  <%= @epd_indicator.b7 %>
</p>

<p>
  <strong>C1:</strong>
  <%= @epd_indicator.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @epd_indicator.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @epd_indicator.c3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @epd_indicator.c4 %>
</p>

<p>
  <strong>D:</strong>
  <%= @epd_indicator.d %>
</p>

<%= link_to 'Edit', edit_epd_indicator_path(@epd_indicator) %> |
<%= link_to 'Back', epd_indicators_path %>
