<p id="notice"><%= notice %></p>

<h1>Document Dapcons</h1>

<table>
  <thead>
    <tr>
      <th>Producte dapcons</th>
      <th>Nom ca</th>
      <th>Nom es</th>
      <th>Nom en</th>
      <th>Idioma</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_dapcons.each do |document_dapcons| %>
      <tr>
        <td><%= document_dapcons.producte_dapcons_id %></td>
        <td><%= document_dapcons.nom_ca %></td>
        <td><%= document_dapcons.nom_es %></td>
        <td><%= document_dapcons.nom_en %></td>
        <td><%= document_dapcons.idioma %></td>
        <td><%= document_dapcons.link %></td>
        <td><%= link_to 'Show', document_dapcons %></td>
        <td><%= link_to 'Edit', edit_document_dapcons_path(document_dapcons) %></td>
        <td><%= link_to 'Destroy', document_dapcons, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Dapcons', new_document_dapcons_path %>
