<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="mk-products-container">
  			<div class="grid-x grid-margin-x">
				<% @productes.each do |producte| %>
					<div class="large-3 medium-6 cell">
						<%= link_to marketcons_producte_path(mk_product_id: producte.id), class:"mk-producte-link" do %>
						<div class="mk-item">
							<div class="crop">
							  <% if producte.mk_image_product.attached? %>
			                <%= image_tag producte.mk_image_product.variant(auto_orient: true), class: "mk-image-principal" %>
			          <% else %>
			            <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_product.jpg", class: 'mk-imatge-producte' %>
			          <% end %>
						  </div>
						  <div class="mk-item-text">
						    <h4 class="mk-item-preu"><%= producte.preu %> €</h4>
						    <p class="mk-item-nom"><%= truncate(producte.nom, length: 45) %></p>
						  </div>
							
						</div>
						<% end %>
					</div>
				<% end %>
			</div>

			<div id="geolocalitzacio">
				<button class="button" onclick="getLocation()">Geolocalitza</button>
				<div id="mapholder"></div>
				
			</div>
		</div>
	</div>
</div>

<script>

function goToURL(preu, distancia, categoria) {
	location.href = 'index?preu=' + preu + '&distancia=' + distancia +'&categoria=' + categoria + '&locale=<%= params[:locale] %>';
}

$('#selector-preu').change(function() {
	var preu = $( "select#selector-preu option:checked" ).val();
	goToURL(preu, 'tots', 1);
});

/* Geolocalització */

var x = document.getElementById("geolocalitzacio");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Aquest navegador no suporta la geolocalització";
  }
}

function showPosition(position) {
  var latlon = position.coords.latitude + "," + position.coords.longitude;

  /*41.4095028,2.1750933999999997*/

  document.getElementById("mapholder").innerHTML = '<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyB5DMFiRy_EqQO8FMVbIQP3XQJfSekqvOY&center='+latlon+'&zoom=14" allowfullscreen></iframe>';
}

</script>