<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="grid-x grid-margin-x">
  			<div class="medium-8 cell">
  				<%= link_to marketcons_producte_path(mk_product_id: params[:mk_product_id]), class:"mk-missatge-producte-link" do %>
	  				<div class="missatges-imatge-principal-producte">
	  					<% if @producte.mk_image_product.attached? %>
                <%= image_tag @producte.mk_image_product, class: "mk-image-principal" %>
              <% else %>
                <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_product.jpg", class: 'mk-imatge-producte' %>
              <% end %>
	  				</div>
	  				<div class="missatges-dades-producte">
	  					<h3 class="mk-product-nom"><%= @producte.nom %></h3>
	  					<span class="mk-missatge-preu-producte"><%= @producte.preu %> €</span>
	  				</div>
	  			<% end %>
  			</div>
  			<div class="medium-4 cell">
  				<%= link_to marketcons_venedor_path(user_id: @producte.user_id), class:"mk-venedor-link" do %>
						<div class="mk-missatge-imatge-perfil-container">
  						<% if @mk_user.mk_image_user.attached? %>
		  					<%= image_tag @mk_user.mk_image_user, class: "mk-imatge-perfil-producte" %>
		  				<% end %>
		  			</div>
		  			<div class="mk-missatge-text-perfil-container">
		  				<span class="titol-camp-producte">Publicat per</span><br/>
							<span class="text-camp-producte"><%= @producte.user.first_name %> <%= @producte.user.last_name %></span>
		  			</div>
		  			
		  		<% end %>
  			</div>
  		</div>

  		<br/>

  		<div class="grid-x grid-margin-x">
  			<div class="medium-12 cell">
  				<h4>Missatges</h4>
  				<%= render 'llistat_missatges' %>
  			</div>
  		</div>

  		<br/>

  		<div class="grid-x grid-margin-x">
  			<div class="medium-12 cell">
  				<%= render 'mk_missatges/form', mk_missatge: @mk_missatge %>
  			</div>
  		</div>

  	</div>
  </div>
</div>