<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="grid-x grid-margin-x">
  			<div class="medium-8 cell">
  				<%= link_to marketcons_producte_path(mk_product_id: params[:mk_product_id]), class:"mk-missatge-producte-link" do %>
	  				<div class="missatges-imatge-principal-producte">
              <% if @producte.mk_imatges.any? %>
                <%= image_tag @producte.mk_imatges.first.mk_product_imatge.variant(auto_orient: true), class: "mk-image-principal" %>
              <% else %>
                <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_product.jpg", class: 'mk-imatge-producte' %>
              <% end %>
	  				</div>
	  				<div class="missatges-dades-producte">
	  					<h3 class="mk-product-nom"><%= @producte.nom %></h3>
	  					<span class="mk-missatge-preu-producte"><%= @producte.preu %> €</span>
	  				</div>
	  			<% end %>
  			</div>
  			<div class="medium-4 cell">
  				<%= link_to marketcons_venedor_path(user_id: @producte.user_id), class:"mk-venedor-link" do %>
						<div class="mk-missatge-imatge-perfil-container">
  						<% if @mk_user.mk_image_user.attached? %>
		  					<%= image_tag @mk_user.mk_image_user, class: "mk-imatge-perfil-producte" %>
		  				<% end %>
		  			</div>
		  			<div class="mk-missatge-text-perfil-container">
		  				<span class="titol-camp-producte">Publicat per</span><br/>
							<span class="text-camp-producte"><%= @mk_user.nom %> <%= @mk_user.cognoms %></span>
		  			</div>
		  			
		  		<% end %>
  			</div>
  		</div>

  		<br/>

  		<div class="grid-x grid-margin-x">
  			<div class="medium-12 cell">
  				<h4>Missatges</h4>
  				<%= render 'llistat_missatges' %>
  			</div>
  		</div>

  		<br/>

  		<div class="grid-x grid-margin-x">
        <% if @producte.user_id == current_user.id %>
          <div class="medium-6 cell">
            <%= render 'mk_missatges/form', mk_missatge: @mk_missatge %>
          </div>
          <div class="medium-6 cell">
            <div class="container-reserva-mkproduct">
              <h4 class="titol-text-reserva-mkproduct"><%= t('.titol_reservar') %></h4>
              <% if @producte.reservat == true %>
                <%= t(".reservat_a") %> <%= @mk_user_reserva.nom %> <%= @mk_user_reserva.cognoms %>
                <div id="resposta-reserva" class="container-resposta-reserva">
                  <button class="button" id="boto-anula-reserva"><%= t('.anula_reserva') %></button>
                </div>
              <% else %>
                <span class="text-reserva-mkproduct"><%= t('.text_reservar') %> <br/><%= @comprador.nom %> <%= @comprador.cognoms %>?</span>
                <div id="resposta-reserva" class="container-resposta-reserva">
                  <button class="button" id="boto-reserva"><%= t('.reserva') %></button>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
    			<div class="medium-12 cell">
    				<%= render 'mk_missatges/form', mk_missatge: @mk_missatge %>
    			</div>
        <% end %>
  		</div>

  	</div>
  </div>
</div>

<script>
$("#boto-reserva").click(function() {
  var request = $.ajax({
    type: 'GET',
    url: '<%= marketcons_reserva_producte_path %>',
    data: {
      mk_product_id: <%= @producte.id %>,
      user_id: <%= params[:user_id] %>
    }
  });

  request.done(function(data) {
    $("#resposta-reserva").html(data);
  });
 
  request.fail(function( jqXHR, textStatus ) {
    $("#resposta-reserva").html( "Error: " + textStatus );
  });
});

$("#boto-anula-reserva").click(function() {
  var request = $.ajax({
    type: 'GET',
    url: '<%= marketcons_anula_reserva_producte_path %>',
    data: {
      mk_product_id: <%= @producte.id %>,
      user_id: <%= params[:user_id] %>
    }
  });

  request.done(function(data) {
    $("#resposta-reserva").html(data);
  });
 
  request.fail(function( jqXHR, textStatus ) {
    $("#resposta-reserva").html( "Error: " + textStatus );
  });
});
</script>