<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="grid-x grid-margin-x">
  			<div class="medium-4 cell">
  				<%= image_tag('https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/Category_Pages/Doors_and_Windows/Doors/Exterior_Doors/ExtDrs18-VisNav-Material-fiberglass-life.jpg', :class => 'mk-image-principal') %>
  				<div class="grid-x grid-margin-x">
  					<div class="medium-4 cell">
  						<%= image_tag('https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/Category_Pages/Doors_and_Windows/Doors/Exterior_Doors/ExtDrs18-VisNav-Material-fiberglass-life.jpg', :class => 'mk-image-secundaria') %>
  					</div>
  					<div class="medium-4 cell">
  						<%= image_tag('https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/Category_Pages/Doors_and_Windows/Doors/Exterior_Doors/ExtDrs18-VisNav-Material-fiberglass-life.jpg', :class => 'mk-image-secundaria') %>
  					</div>
  					<div class="medium-4 cell">
  						<%= image_tag('https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/Category_Pages/Doors_and_Windows/Doors/Exterior_Doors/ExtDrs18-VisNav-Material-fiberglass-life.jpg', :class => 'mk-image-secundaria') %>
  					</div>
  				</div>
  			</div>
  			<div class="medium-8 cell">
  				<h3 class="mk-product-nom"><%= @producte.nom %></h3>
  				<div class="grid-x grid-margin-x">
  					<div class="medium-4 cell">
  						<span class="titol-camp-producte">Data de publicació</span><br/>
  						<span class="text-camp-producte">Febrer 2019</span>
  					</div>
  					<div class="medium-8 cell">
  						<span class="titol-camp-producte">Categoria</span><br/>
  						<span class="text-camp-producte">
  							<% if params[:locale] == 'es' %>
  								<%= @categoria.nom_es %>
  							<% elsif params[:locale] == 'en' %>
  								<%= @categoria.nom_en %>
  							<% else %>
  								<%= @categoria.nom_ca %>
  							<% end %>
  						</span>
  					</div>
  				</div>
  				
  				<hr/>
  				<div class="grid-x grid-margin-x">
  					<div class="medium-12 cell">
  						<span class="titol-camp-producte">Descripció</span><br/>
  						<p class="text-camp-producte"><%= @producte.descripcio %></p>
  						<span class="titol-camp-producte">Condicions d'enviament o recollida</span><br/>
  						<span class="text-camp-producte">
  							<% if @producte.enviament == 'comprador_buscar' %>
  								<%= t('.comprador_buscar') %>
  							<% elsif @producte.enviament == 'venedor_porta' %>
  								<%= t('.venedor_porta') %>
  							<% elsif @producte.enviament == 'negociar' %>
  								<%= t('.negociar') %>
  							<% else %>
  								<%= t('.no_definit') %>
  							<% end %>
  						</span>
  					</div>
  				</div>
  				<hr/>
  			
  				<div class="grid-x grid-margin-x">
  					<div class="medium-8 cell">
  						<span class="titol-camp-producte">Localització</span><br/>
  						<span class="text-camp-producte">
  							<% if @producte.adreca_oculta != true %>
  								<%= @producte.adreca %>,
  							<% end %>
  							<%= @producte.municipi %></span>
  					</div>
  					<div class="medium-4 cell">

  					</div>
  				</div>
  				<br/>
  				<hr class="hr-no-margin"/>
  				<div class="grid-x grid-margin-x">
  					<div class="small-4 cell">
  						<div class="mk-preu-container">
  							<span class="titol-camp-producte">Preu </span>
  							<span class="preu-producte"><%= @producte.preu %> €</span>
  						</div>
  					</div>
  					<div class="small-8 cell">
  						<% if user_signed_in? && @producte.user_id == current_user.id %>
  							<div class="container-boto-eliminar-producte">
  								<%= link_to t('.eliminar_producte'), @producte, method: :delete, data: { confirm: t('.confirma_eliminar') }, class:'boto-eliminar-producte' %>
		  						
		  					</div>
  							<div class="container-boto-editar-producte">
		  						<%= link_to t('.editar_producte'), marketcons_editar_anunci_path(mk_product_id: @producte.id), class:'boto-editar-producte' %>
		  					</div>
		  					
  						<% else %>
                <%= link_to marketcons_missatges_path(mk_product_id: @producte.id, user_id: current_user.id) do %>
  	  						<div class="boto-enviar-missatge">
                    <div class="icona-dialeg">
  	  								<%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icon_dialeg.png", class: "img-icona-dialeg" %>
  	  							</div>
  	  							<div class="text-enviar-missatge">
  	  								Enviar missatge
  	  							</div>
  	  						</div>
                <% end %>
  						<% end %>
  					</div>
  				</div>
  				<hr class="hr-no-margin"/>
  				<div class="grid-x grid-margin-x">
  					<div class="medium-12 cell">
  						<% if current_user.id == @producte.user_id %>
                <p>Missatges</p>

                <% @compradors.each do |comprador| %>
                  <div class="mk-product-missatge-comprador-item">
                    <%= link_to marketcons_missatges_path(mk_product_id: @producte.id, user_id: comprador.id), class:"mk-venedor-link" do %>
                      <div class="mk-product-imatge-perfil-container">
                        <% if comprador.mk_image_user.attached? %>
                          <%= image_tag comprador.mk_image_user, class: "mk-imatge-perfil-producte" %>
                        <% end %>
                      </div>
                      <div class="mk-product-text-perfil-container">
                        <span class="text-camp-producte"><%= comprador.user.first_name %> <%= comprador.user.last_name %></span>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to marketcons_venedor_path(mk_product_id: @producte.id, user_id: current_user.id), class:"mk-venedor-link" do %>
  	  						<div class="mk-product-imatge-perfil-container">
  		  						<% if @mk_user.mk_image_user.attached? %>
  				  					<%= image_tag @mk_user.mk_image_user, class: "mk-imatge-perfil-producte" %>
  				  				<% end %>
  				  			</div>
  				  			<div class="mk-product-text-perfil-container">
  				  				<span class="titol-camp-producte">Publicat per</span><br/>
  	  							<span class="text-camp-producte"><%= @producte.user.first_name %> <%= @producte.user.last_name %></span>
  				  			</div>
  				  		<% end %>
              <% end %>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
	</div>
</div>