<div class="container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.videos') %></span>
      </div>
    </div>
  </div>

  
    <div class="video-array-container">
      <div class="grid-x grid-margin-x">
        <% @videos.each do |video| %>
          <div class="medium-6 cell">
            <div class="index-video-container">
              
              <div class="img-index-video">
                <%= link_to video do %>
                  <% if video.imatge_video.attached? %>
                    <%= image_tag video.imatge_video %>
                  <% end %>
                <% end %>  
              </div>
              <div class="text-index-video">
                <%= link_to video do %>
                  
                  <% if params[:locale] == 'ca' %>
                    <h4><%= video.titol_ca %></h4>
                    <div class="show-for-large">
                      <p class="resum-video"><%= truncate(video.resum_ca, :length => 200) %></p>
                    </div>
                    <div class="show-for-medium-only">
                      <p class="resum-video"><%= truncate(video.resum_ca, :length => 70) %></p>
                    </div>
                    <div class="show-for-small-only">
                      <p class="resum-video"><%= truncate(video.resum_ca, :length => 200) %></p>
                    </div>
                  <% elsif params[:locale] == 'es' %>
                    <h4><%= video.titol_es %></h4>
                    <div class="show-for-large">
                      <p class="resum-video"><%= truncate(video.resum_es, :length => 200) %></p>
                    </div>
                    <div class="show-for-medium-only">
                      <p class="resum-video"><%= truncate(video.resum_es, :length => 70) %></p>
                    </div>
                    <div class="show-for-small-only">
                      <p class="resum-video"><%= truncate(video.resum_es, :length => 200) %></p>
                    </div>
                  <% else %>
                    <h4><%= video.titol_en %></h4>
                    <div class="show-for-large">
                      <p class="resum-video"><%= truncate(video.resum_en, :length => 200) %></p>
                    </div>
                    <div class="show-for-medium-only">
                      <p class="resum-video"><%= truncate(video.resum_en, :length => 70) %></p>
                    </div>
                    <div class="show-for-small-only">
                      <p class="resum-video"><%= truncate(video.resum_en, :length => 200) %></p>
                    </div>
                  <% end %>
                  
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  

</div>