<div class="container container-show-video">
  <div class="grid-x grid-margin-x">
    <div class="medium-8 cell">
      
      <% if params[:locale] == 'ca' %>
        <div class="titol-video">
          <%= @video.titol_ca %>
        </div>
        <div class="contingut-video">
          <%= raw @video.contingut_ca %>
        </div>
      <% elsif params[:locale] == 'es' %>
        <div class="titol-video">
          <%= @video.titol_es %>
        </div>
        <div class="contingut-video">
          <%= raw @video.contingut_es %>
        </div>
      <% else %>
        <div class="titol-video">
          <%= @video.titol_en %>
        </div>
        <div class="contingut-video">
          <%= raw @video.contingut_en %>
        </div>
      <% end %>

    </div>
    <div class="medium-4 large-3 large-offset-1 cell">
      <div class="titol-seccio">
        <%= t('.noticies') %>
      </div>
      <div class="noticies-container">
        <% @noticies.each do |noticia| %>
          <div class="noticia-lateral-container">
            <% if noticia.imatge_noticia.attached? %>
              <%= image_tag noticia.imatge_noticia %>
            <% end %>
            <h3 class="noticia-lateral-titol">
              <% if params[:locale] == 'ca' %>
                <%= noticia.titol_ca %>
              <% elsif params[:locale] == 'es' %>
                <%= noticia.titol_es %>
              <% else %>
                <%= noticia.titol_en %>
              <% end %>
            </h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  
    <div class="video-array-container">
      <div class="grid-x grid-margin-x">
        <% @ultims.each do |video| %>
          <div class="medium-6 cell">
            <div class="index-video-container">
              
              <div class="img-index-video">
                <%= link_to video do %>
                  <% if video.imatge_video.attached? %>
                    <%= image_tag video.imatge_video %>
                  <% end %>
                <% end %>  
              </div>
              <div class="text-index-video">
                <%= link_to video do %>

                  <% if params[:locale] == 'ca' %>
                    <h4><%= video.titol_ca %></h4>
                    <div class="show-for-large">
                      <p class="resum-video"><%= truncate(video.resum_ca, :length => 200) %></p>
                    </div>
                    <div class="show-for-medium-only">
                      <p class="resum-video"><%= truncate(video.resum_ca, :length => 70) %></p>
                    </div>
                    <div class="show-for-small-only">
                      <p class="resum-video"><%= truncate(video.resum_ca, :length => 200) %></p>
                    </div>
                  <% elsif params[:locale] == 'es' %>
                    <h4><%= video.titol_es %></h4>
                    <div class="show-for-large">
                      <p class="resum-video"><%= truncate(video.resum_es, :length => 200) %></p>
                    </div>
                    <div class="show-for-medium-only">
                      <p class="resum-video"><%= truncate(video.resum_es, :length => 70) %></p>
                    </div>
                    <div class="show-for-small-only">
                      <p class="resum-video"><%= truncate(video.resum_es, :length => 200) %></p>
                    </div>
                  <% else %>
                    <h4><%= video.titol_en %></h4>
                    <div class="show-for-large">
                      <p class="resum-video"><%= truncate(video.resum_en, :length => 200) %></p>
                    </div>
                    <div class="show-for-medium-only">
                      <p class="resum-video"><%= truncate(video.resum_en, :length => 70) %></p>
                    </div>
                    <div class="show-for-small-only">
                      <p class="resum-video"><%= truncate(video.resum_en, :length => 200) %></p>
                    </div>
                  <% end %>

                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  
</div>
