
<%= simple_form_for(@tipus_indicador) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nom_ca %>
    <%= f.input :descripcio_ca %>
    <%= f.input :nom_es %>
    <%= f.input :descripcio_es %>
    <%= f.input :nom_en %>
    <%= f.input :descripcio_en %>
    <%= f.input :unitats %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.guardar') %>
  </div>
<% end %>
