<p id="notice"><%= notice %></p>

<h1>Tipus Indicadors</h1>

<table>
  <thead>
    <tr>
      <th>Nom ca</th>
      <th>Nom es</th>
      <th>Nom en</th>
      <th>Unitats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipus_indicadors.each do |tipus_indicador| %>
      <tr>
        <td><%= tipus_indicador.nom_ca %></td>
        <td><%= tipus_indicador.nom_es %></td>
        <td><%= tipus_indicador.nom_en %></td>
        <td><%= tipus_indicador.unitats %></td>
        <td><%= link_to 'Show', tipus_indicador %></td>
        <td><%= link_to 'Edit', edit_tipus_indicador_path(tipus_indicador) %></td>
        <td><%= link_to 'Destroy', tipus_indicador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipus Indicador', new_tipus_indicador_path %>
