<div class="hero">
	<div class="container">
		<div class="grid-x grid-margin-x">
			<div class="medium-6 cell">
				<div class="home-top-image-container">
          <% if params[:locale] == 'es' || params[:locale] == 'en' %>
          	<%= link_to video_path(60) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta2_ES.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% else %>
          	<%= link_to video_path(60) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta2_CA.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% end %>
	      </div>
			</div>
			<div class="medium-6 cell">
				<div class="home-top-image-container">
					<% if params[:locale] == 'es' || params[:locale] == 'en' %>
						<%= link_to video_path(59) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta_ES.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% else %>
          	<%= link_to video_path(59) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta_CA.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% end %>
		    </div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="small-12 cell">
			<div class="divider">
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-8 cell">
			<div class="titol-seccio">
				NOVETATS AL WEB
			</div>
			<div class="grid-x grid-margin-x">
				<div class="medium-6 cell">
					<div class="card">
		        <div class="card-image">
		          <%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/comparador_dapcons2.png', :class => 'responsive-img') %>
		        </div>
		        <div class="card-section">
		          <p>Presentem una nova eina, el comparador de productes DAPcons<sup>®</sup>. Les Declaracions Ambientals de Producte ens proporcionen diferents indicadors ambientals dels productes, com el potencial d'escalfament global o de formació d'ozó fotoquímic.</p>
		          <p>Gràcies al comparador podeu valorar millor les diferències entre els diferents productes DAPcons<sup>®</sup> i l'eina també us permet introduir informació de nous productes per a fer comparacions.</p>
		          <div class="card-action">
	              <a href="#">Anar al comparador</a>
	            </div>
		        </div>
		      </div>
				</div>
				<div class="medium-6 cell">
					<div class="card">
		        <div class="card-image">
		          <%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/casos_practics2.png', :class => 'responsive-img') %>
		        </div>
		        <div class="card-section">
		          <p>Ara pots publicar els teus propis casos pràctics al web per tal de donar a conèixer els projectes més destacats des del punt de vista ambiental. Si l'edifici destaca per estar construit amb materials de baix impacte ambiental, o té un consum d'energia molt baix, o utilitza solucions innovadores en general, segur que a la comunitat li interessa conèixer-lo. </p>
		          <p>Una vegada hagis introduït la informació del projecte nosaltres el valorarem i el publicarem al web per a que hi pugui accedir tothom.</p>
		          <div class="card-action">
	              <a href="#">Publica el teu primer projecte</a>
	            </div>
		        </div>
		      </div>
				</div>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="titol-seccio">
				NEWSLETTER
			</div>
			<a href="http://eepurl.com/VGTzD">
				<div class="newsletter-container">
          <span class="newsletter-titol">Subscriu-te al nostre newsletter</span>
          <p><span class="newsletter-text">Així sabràs quan hi ha novetats al web</span></p>
	      </div>
	    </a>
		
		
		

		
			<div class="spacer"></div>
			<div class="titol-seccio">
				NOTÍCIES
			</div>
			<div class="noticia-breu">
				<div class="titol-noticia-breu">
					DAPcons® en el Barcelona Building Construmat
				</div>
				<div class="imatge-noticia-breu">
					<%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/construmat.jpg', :class => 'responsive-img') %>
				</div>
				<div class="text-noticia-breu">
					<p>S'han realitzat presentacions personalitzades a grups d’agents del sector interessats en els productes sostenibles.</p>
				</div>
				<div class="link-noticia-breu">
					<a href="#">+ Més informació</a>
				</div>
			</div>

			<div class="noticia-breu">
				<div class="titol-noticia-breu">
					DAPcons® present en el Congrés de les Professions
				</div>
				
				<div class="text-noticia-breu">
					<p>GBCe i el CAATEEB han organitzat una jornada pel proper dia 15 de juny que sota el títol ”Sostenibilidad en l’edificació: la importància dels materials de construcció” es celebrarà dins el marc del Congrés de les Professions.</p>
				</div>
				<div class="link-noticia-breu">
					<a href="#">+ Més informació</a>
				</div>
			</div>

		</div>
	</div>
</div>
