<div class="hero">
	<div class="container">
		<div class="grid-x grid-margin-x">
			<div class="medium-6 cell">
				<div class="home-top-image-container">
          <% if params[:locale] == 'es' || params[:locale] == 'en' %>
          	<%= link_to video_path(60) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta2_ES.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% else %>
          	<%= link_to video_path(60) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta2_CA.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% end %>
	      </div>
			</div>
			<div class="medium-6 cell">
				<div class="home-top-image-container">
					<% if params[:locale] == 'es' || params[:locale] == 'en' %>
						<%= link_to video_path(59) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta_ES.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% else %>
          	<%= link_to video_path(59) do %>
          		<%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/poster_fusta_CA.jpg', :class => 'responsive-img') %>
          	<% end %>
          <% end %>
		    </div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="small-12 cell">
			<div class="divider">
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-8 cell">
			<div class="titol-seccio">
				NOVETATS AL WEB
			</div>
			<div class="grid-x grid-margin-x">
				<div class="medium-6 cell">
					<div class="card">
		        <div class="card-image">
		          <%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/captador_integrat.jpg', :class => 'responsive-img') %>
		        </div>
		        <div class="card-divider">
					    <span class="card-title">Captadors solars integrats</span>
					  </div>
		        <div class="card-section">
		          <p>Els captadors solars integrats acostumen a ser els de termosifò convencional. Són fàcils d'instal·lar però tenen una eficiència energètica menor. En aquest vídeo presentem els sistemes integrats d'alta eficiència.</p>
		          <div class="card-action">
	              <a href="#">Veure el vídeo</a>
	            </div>
		        </div>
		      </div>
				</div>
				<div class="medium-6 cell">
					<div class="card">
		        <div class="card-image">
		          <%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/doble_flux.jpg', :class => 'responsive-img') %>
		        </div>
		        <div class="card-divider">
		        	<span class="card-title">Sistemes de ventilació de doble flux</span>
		        </div>
		        <div class="card-section">
		          <p>En aquest capítol visitem una obra de 44 habitatges a Barcelona i el showroom de Siber a les Franqueses del Vallès per veure en detall com és un sistema de ventilació de doble flux.</p>
		          <div class="card-action">
	              <a href="#">Veure el vídeo</a>
	            </div>
		        </div>
		      </div>
				</div>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="titol-seccio">
				NEWSLETTER
			</div>
			<a href="http://eepurl.com/VGTzD">
				<div class="newsletter-container">
          <span class="newsletter-titol">Subscriu-te al nostre newsletter</span>
          <p><span class="newsletter-text">Així sabràs quan hi ha novetats al web</span></p>
	      </div>
	    </a>
		
		
		

		
			<div class="spacer"></div>
			<div class="titol-seccio">
				NOTÍCIES
			</div>
			<div class="noticia-breu">
				<div class="titol-noticia-breu">
					DAPcons® en el Barcelona Building Construmat
				</div>
				<div class="imatge-noticia-breu">
					<%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/construmat.jpg', :class => 'responsive-img') %>
				</div>
				<div class="text-noticia-breu">
					<p>S'han realitzat presentacions personalitzades a grups d’agents del sector interessats en els productes sostenibles.</p>
				</div>
				<div class="link-noticia-breu">
					<a href="#">+ Més informació</a>
				</div>
			</div>

			<div class="noticia-breu">
				<div class="titol-noticia-breu">
					DAPcons® present en el Congrés de les Professions
				</div>
				
				<div class="text-noticia-breu">
					<p>GBCe i el CAATEEB han organitzat una jornada pel proper dia 15 de juny que sota el títol ”Sostenibilidad en l’edificació: la importància dels materials de construcció” es celebrarà dins el marc del Congrés de les Professions.</p>
				</div>
				<div class="link-noticia-breu">
					<a href="#">+ Més informació</a>
				</div>
			</div>

		</div>
	</div>
</div>
