
<%= simple_form_for(@producte) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nom_ca %>
    <%= f.input :nom_es %>
    <%= f.input :nom_en %>
    <%= f.input :descripcio_ca %>
    <%= f.input :descripcio_es %>
    <%= f.input :descripcio_en %>
    <%= f.input :caracteristiques_ca %>
    <%= f.input :caracteristiques_es %>
    <%= f.input :caracteristiques_en %>
    <%= f.input :aplicacio_ca %>
    <%= f.input :aplicacio_es %>
    <%= f.input :aplicacio_en %>
    <%= f.input :disponibilitat_ca %>
    <%= f.input :disponibilitat_es %>
    <%= f.input :disponibilitat_en %>
    <%= f.input :destacats_ca %>
    <%= f.input :destacats_es %>
    <%= f.input :destacats_en %>
    <%= f.input :valoracio %>
    <%= f.input :ambit %>
    <%= f.input :visible %>
    
    <div id="ecoetiquetes">
      <%= f.simple_fields_for :ecoetiqueta_productes do |ecoetiqueta| %>
        <%= render 'ecoetiqueta_producte_fields', f: ecoetiqueta %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'afegeix ecoetiqueta', f, :ecoetiqueta_productes %>
      </div>
    </div>
  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
