<p id="notice"><%= notice %></p>

<h1>Productes</h1>

<table>
  <thead>
    <tr>
      <th>Imatge</th>
      <th>Nom</th>
      <th>Descripció</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productes.each do |producte| %>
      <tr>
        <td><%= image_tag producte.imatge_producte.variant(resize: "150x150") %></td>
        <td><%= producte.nom_ca %></td>
        <td><%= producte.descripcio_ca %></td>
        <td><%= link_to 'Mostrar', producte %></td>
        <td><%= link_to 'Editar', edit_producte_path(producte) %></td>
        <td><%= link_to 'Eliminar', producte, method: :delete, data: { confirm: 'Segur que vols eliminar el producte?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nou Producte', new_producte_path %>
