<div class="container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="main-title-container noticies-main-title-container">
        <span class="main-title"><%= t('.productes') %></span>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-3 cell">
      <div class="menu-productes-container">
        <ul class="vertical menu accordion-menu" data-accordion-menu>
          
          <li class="menu-productes-item <% if @menu_productes_actiu == '1' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.mitjans_equips_auxiliars'), productes_path(categoria: 1), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '2' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.enderrocs_gestio_residus'), productes_path(categoria: 2), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '3' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.terreny_fonaments'), productes_path(categoria: 3), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '4' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.estructures'), productes_path(categoria: 4), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '5' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.cobertes'), productes_path(categoria: 5), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '6' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.tancaments_divisories'), productes_path(categoria: 6), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '7' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.aillaments'), productes_path(categoria: 7), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '8' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.impermeabilitzacions'), productes_path(categoria: 8), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '9' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.revestiments'), productes_path(categoria: 9), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '10' %>
            menu-productes-actiu
            <% end %>">
            <span class="menu-productes-nolink"><%= t('.instalacions') %></span>
          </li>

          <li class="menu-productes-subitem <% if @menu_productes_actiu == '15' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.instalacions_clima'), productes_path(categoria: 15), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-subitem <% if @menu_productes_actiu == '16' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.instalacions_electriques'), productes_path(categoria: 16), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-subitem <% if @menu_productes_actiu == '17' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.instalacions_iluminacio'), productes_path(categoria: 17), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-subitem <% if @menu_productes_actiu == '18' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.instalacions_hidrauliques'), productes_path(categoria: 18), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-subitem <% if @menu_productes_actiu == '19' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.instalacions_elevacio'), productes_path(categoria: 19), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-subitem <% if @menu_productes_actiu == '20' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.instalacions_monitoritzacio'), productes_path(categoria: 20), class: 'menu-productes-link') %>
          </li>

          <li class="menu-productes-item <% if @menu_productes_actiu == '11' %>
            menu-productes-actiu
            <% end %>">
            <%= link_to(t('.urbanitzacio'), productes_path(categoria: 11), class: 'menu-productes-link') %>
          </li>
        </ul>
      </div>
    </div>
    <div class="medium-9 cell">
      
      <% if params[:categoria] == nil %>
        <div class="grid-x grid-margin-x">
          <div class="medium-4 cell">
            <%= link_to productes_path(categoria: 21) do %>
              <div class="container-categoria-inici">
                <h4>Productes amb DAPcons</h4>
              </div>
            <% end %>
          </div>
          <div class="medium-4 cell">
            <%= link_to productes_path(categoria: 12) do %>
              <div class="container-categoria-inici">
                <h4>Empreses productores d'àrids reciclats</h4>
              </div>
            <% end %>
          </div>
          <div class="medium-4 cell">
            <%= link_to productes_path(categoria: 13) do %>
              <div class="container-categoria-inici">
                <h4>Empreses productores de fusta reciclada</h4>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% @seleccio_productes.each do |producte| %>
        <div class="producte-container">
          <div class="producte-nom">
            <span class="titol-producte-item"><%= producte.nom_ca %></span>
          </div>
          <div class="imatge-producte">
            <% if producte.imatge_producte.attached? %>
              <div class="card-image">
                <%= image_tag producte.imatge_producte.variant(resize: "250x250"), class: 'imatge-producte-item' %>
              </div>
            <% end %>
          </div>
          <div class="text-producte">
            <div class="tipus-producte-container">
              <span class="text-tip"><%= t('.tipus_producte') %>:</span><br/>
              <span class="tipus-producte"><%= producte.descripcio_ca %></span>
            </div>
            <div class="empresa-producte-container">
              <span class="text-tip"><%= t('.empresa') %>:</span><br/>
              <span class="empresa-producte"><%= producte.empresa.nom %></span>
            </div>
            <div class="destacats-container">
              <span class="text-tip"><%= t('.destaquem') %>:</span>
              <p><%= producte.destacats_ca %></p>
            </div>
            <% if can? :update, producte %>
              <div class="edicio-producte-container">
                <%= link_to 'Editar', edit_producte_path(producte) %> | <%= link_to 'Eliminar', producte, method: :delete, data: { confirm: 'Segur que vols eliminar?' } %>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

