<p id="notice"><%= notice %></p>

<p>
  <strong>Nom ca:</strong>
  <%= @producte.nom_ca %>
</p>

<p>
  <strong>Nom es:</strong>
  <%= @producte.nom_es %>
</p>

<p>
  <strong>Nom en:</strong>
  <%= @producte.nom_en %>
</p>

<p>
  <strong>Descripcio ca:</strong>
  <%= @producte.descripcio_ca %>
</p>

<p>
  <strong>Descripcio es:</strong>
  <%= @producte.descripcio_es %>
</p>

<p>
  <strong>Descripcio en:</strong>
  <%= @producte.descripcio_en %>
</p>

<p>
  <strong>Caracteristiques ca:</strong>
  <%= @producte.caracteristiques_ca %>
</p>

<p>
  <strong>Caracteristiques es:</strong>
  <%= @producte.caracteristiques_es %>
</p>

<p>
  <strong>Caracteristiques en:</strong>
  <%= @producte.caracteristiques_en %>
</p>

<p>
  <strong>Aplicacio ca:</strong>
  <%= @producte.aplicacio_ca %>
</p>

<p>
  <strong>Aplicacio es:</strong>
  <%= @producte.aplicacio_es %>
</p>

<p>
  <strong>Aplicacio en:</strong>
  <%= @producte.aplicacio_en %>
</p>

<p>
  <strong>Disponibilitat ca:</strong>
  <%= @producte.disponibilitat_ca %>
</p>

<p>
  <strong>Disponibilitat es:</strong>
  <%= @producte.disponibilitat_es %>
</p>

<p>
  <strong>Disponibilitat en:</strong>
  <%= @producte.disponibilitat_en %>
</p>

<p>
  <strong>Destacats ca:</strong>
  <%= @producte.destacats_ca %>
</p>

<p>
  <strong>Destacats es:</strong>
  <%= @producte.destacats_es %>
</p>

<p>
  <strong>Destacats en:</strong>
  <%= @producte.destacats_en %>
</p>

<p>
  <strong>Valoracio:</strong>
  <%= @producte.valoracio %>
</p>

<p>
  <strong>Ambit:</strong>
  <%= @producte.ambit %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @producte.visible %>
</p>

<% if @producte.imatge_producte.attached? %>
  <p>
    <strong>Imatge:</strong>
    <br>
    <%= image_tag @producte.imatge_producte.variant(resize: "500x500") %>
  </p>
<% end %>

<p>
  <strong>Documents:</strong>
  <% @producte.document_productes.each do |document| %>
    <% adreca = url_for document.arxiu_document %>
    <%= link_to(document.nom_ca, adreca) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_producte_path(@producte) %> |
<%= link_to 'Back', productes_path %>
