
<%= simple_form_for(@mk_document) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :mk_product_id %>
    <%= f.input :nom %>

    <%= f.input :document, as: :file %>
  
    <% if @mk_document.document.attached? %>
      <%= image_tag @mk_document.document, class: 'img-noticia' %>
    <% end %>
        
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
