<p id="notice"><%= notice %></p>

<h1>Indicadors</h1>

<table>
  <thead>
    <tr>
      <th>Tipus indicador</th>
      <th>Producte dapcons</th>
      <th>Etapa</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicadors.each do |indicador| %>
      <tr>
        <td><%= indicador.tipus_indicador_id %></td>
        <td><%= indicador.producte_dapcons_id %></td>
        <td><%= indicador.etapa %></td>
        <td><%= indicador.valor %></td>
        <td><%= link_to 'Show', indicador %></td>
        <td><%= link_to 'Edit', edit_indicador_path(indicador) %></td>
        <td><%= link_to 'Destroy', indicador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicador', new_indicador_path %>
