<p id="notice"><%= notice %></p>

<p>
  <strong>Tipus indicador:</strong>
  <%= @indicador.tipus_indicador_id %>
</p>

<p>
  <strong>Producte dapcons:</strong>
  <%= @indicador.producte_dapcons_id %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @indicador.etapa %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @indicador.valor %>
</p>

<%= link_to 'Edit', edit_indicador_path(@indicador) %> |
<%= link_to 'Back', indicadors_path %>
