<div class="container">
  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.panell') %></span>
        <br/>
        <span class="secondary-title"><%= t('.producte_dapcons_usuari') %></span>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
      <table>
        <thead>
          <tr>
            <th><%= t('.nom') %></th>
            <th><%= t('.empresa') %></th>
            <th><%= t('.descripcio') %></th>
            <th><%= t('.unitat_declarada') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @producte_dapcons_usuaris.each do |producte_dapcons_usuari| %>
            <tr>
              <td><%= link_to producte_dapcons_usuari.nom, edit_producte_dapcons_usuari_path(producte_dapcons_usuari) %></td>
              <td><%= producte_dapcons_usuari.empresa %></td>
              <td><%= producte_dapcons_usuari.descripcio %></td>
              <td><%= producte_dapcons_usuari.unitat_declarada %></td>
              <td><%= link_to t('.destroy'), producte_dapcons_usuari, method: :delete, data: { confirm: t('.confirmacio_eliminar') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="medium-12 cell">
      <%= link_to t('.nou_producte'), new_producte_dapcons_usuari_path, class: 'button' %>
    </div>
  </div>
  
</div>



<br>


