<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @epd.name %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @epd.classification %>
</p>

<p>
  <strong>General comment:</strong>
  <%= @epd.general_comment %>
</p>

<p>
  <strong>Data set lca report:</strong>
  <%= @epd.data_set_lca_report %>
</p>

<p>
  <strong>Generic data uncertaintiy loads:</strong>
  <%= @epd.generic_data_uncertaintiy_loads %>
</p>

<p>
  <strong>Description generic data uncertainty loads:</strong>
  <%= @epd.description_generic_data_uncertainty_loads %>
</p>

<p>
  <strong>Scenario name:</strong>
  <%= @epd.scenario_name %>
</p>

<p>
  <strong>Scenario default:</strong>
  <%= @epd.scenario_default %>
</p>

<p>
  <strong>Scenario group:</strong>
  <%= @epd.scenario_group %>
</p>

<p>
  <strong>Scenario description:</strong>
  <%= @epd.scenario_description %>
</p>

<p>
  <strong>Module name:</strong>
  <%= @epd.module_name %>
</p>

<p>
  <strong>Module product system:</strong>
  <%= @epd.module_product_system_id %>
</p>

<p>
  <strong>Reference flow:</strong>
  <%= @epd.reference_flow %>
</p>

<p>
  <strong>Functional unit:</strong>
  <%= @epd.functional_unit %>
</p>

<p>
  <strong>Reference year:</strong>
  <%= @epd.reference_year %>
</p>

<p>
  <strong>Data set valid until:</strong>
  <%= @epd.data_set_valid_until %>
</p>

<p>
  <strong>Time representativeness description:</strong>
  <%= @epd.time_representativeness_description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @epd.location %>
</p>

<p>
  <strong>Geographical representativeness description:</strong>
  <%= @epd.geographical_representativeness_description %>
</p>

<p>
  <strong>Technology description:</strong>
  <%= @epd.technology_description %>
</p>

<p>
  <strong>Technical purpose of product:</strong>
  <%= @epd.technical_purpose_of_product %>
</p>

<p>
  <strong>Pictogram of technology:</strong>
  <%= @epd.pictogram_of_technology %>
</p>

<p>
  <strong>Flow diagram picture:</strong>
  <%= @epd.flow_diagram_picture %>
</p>

<p>
  <strong>Lca methodology report:</strong>
  <%= @epd.lca_methodology_report %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @epd.subtype %>
</p>

<p>
  <strong>Data sources:</strong>
  <%= @epd.data_sources %>
</p>

<p>
  <strong>Use advise for data set:</strong>
  <%= @epd.use_advise_for_data_set %>
</p>

<p>
  <strong>Type of review:</strong>
  <%= @epd.type_of_review %>
</p>

<p>
  <strong>Review details:</strong>
  <%= @epd.review_details %>
</p>

<p>
  <strong>Reviewer name:</strong>
  <%= @epd.reviewer_name %>
</p>

<p>
  <strong>Complete review report:</strong>
  <%= @epd.complete_review_report %>
</p>

<p>
  <strong>Compliance system name:</strong>
  <%= @epd.compliance_system_name %>
</p>

<p>
  <strong>Data set format:</strong>
  <%= @epd.data_set_format %>
</p>

<p>
  <strong>Data entry by:</strong>
  <%= @epd.data_entry_by %>
</p>

<p>
  <strong>Date of last revision:</strong>
  <%= @epd.date_of_last_revision %>
</p>

<p>
  <strong>Issuer:</strong>
  <%= @epd.issuer %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @epd.registration_number %>
</p>

<p>
  <strong>Owner of data set:</strong>
  <%= @epd.owner_of_data_set %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @epd.copyright %>
</p>

<%= link_to 'Edit', edit_epd_path(@epd) %> |
<%= link_to 'Back', epds_path %>
