<div class="container" id="mk-inici-sessio">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="main-title-container noticies-main-title-container">
        <span class="main-title"><%= t('.login_title') %></span>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="large-4 medium-6 cell">
    	<div class="login-formulari-container">
    		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="form-inputs">
				    <%= f.input :email, required: false, autofocus: true %>
				    <%= f.input :password, required: false %>
				    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				  </div>

				  <div class="form-actions">
				    <%= f.button :submit, t('.login_button') %>
				  </div>
				<% end %>
    	</div>
      <div class="links-sessions">
        <div class="shared-links-crear-compte">
          <%= t('.if_not_registered') %> <%= link_to t('.create_account'), new_registration_path(resource_name) %>.
        </div>
        <div class="shared-links-recuperar-contrasenya">
          <%= link_to t('.forgot_password'), new_password_path(resource_name) %>    
        </div>
      </div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="container-imatge-inici-sessio">
        <%= image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/inici_sessio2.jpg', :class => 'responsive-img imatge-inici-sessio') %>
      </div> 
      <div class="container-text-inici-sessio">
        <div class="text-inici-sessio">
          <%= raw t('.text_inici_sessio') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mobile-inici-sessio" class="mk-mobile-inici-sessio-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('.login_button') %>
    </div>
  <% end %>
</div>

<script>
$( document ).ready(function() {
  if (navigator.userAgent.indexOf('gonative') > -1) {
    $( "#top-capcalera" ).hide();
    $( "#mk-inici-sessio" ).hide();
  } else {
    $( "#mobile-inici-sessio" ).hide();
  }
});
</script>