
      <%= simple_form_for(@mk_product) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <br/>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.input :aprovat, as: :hidden, input_html: { value: true } %>
          <%= f.input :visible, as: :hidden, input_html: { value: true } %>
          <%= f.input :mobile, as: :hidden, input_html: { value: false } %>
          <%= f.input :latitud, as: :hidden %>
          <%= f.input :longitud, as: :hidden %>

          <div class="grid-x grid-margin-x">
            <div class="medium-6 cell">
              <%= f.input :nom %>
              <% if params[:locale] == 'es' %>
                <%= f.input :categoria, collection: @categories, label_method: :nom_es, value_method: :id, unitats_method: :unitats, include_blank: false, selected: @mk_product.categoria %>
              <% elsif params[:locale] == 'en' %>
                <%= f.input :categoria, collection: @categories, label_method: :nom_en, value_method: :id, unitats_method: :unitats, include_blank: false, selected: @mk_product.categoria %>
              <% else %>
                <%= f.input :categoria, collection: @categories, label_method: :nom_ca, value_method: :id, unitats_method: :unitats, include_blank: false, selected: @mk_product.categoria %>
              <% end %>
            </div>
            <div class="medium-6 cell">
              <%= f.input :descripcio, input_html: {rows: 4} %>
            </div>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="medium-2 small-4 cell">
              <%= f.input :preu %>
            </div>
            <div class="medium-1 small-2 cell">
              <div class="mk-text-ressaltat">€</div>
            </div>
            <div class="medium-2 small-4 cell">
              <div id="container-pes">
                <%= f.input :pes %>
              </div>
              <div id="container-unitats">
                <%= f.input :unitats %>
              </div>
            </div>
            <div class="medium-1 small-2 cell">
              <div class="mk-text-ressaltat" id="text-kg">kg</div>
            </div>
            <div class="medium-6 cell">
              <%= f.input :enviament, collection: [[t('.comprador_buscar'), 'comprador_buscar'], [t('.venedor_porta'), 'venedor_porta'], [t('.a_negociar'), 'negociar']] %>
            </div>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="medium-6 cell">
              <%= f.input :adreca %>
            </div>
            <div class="medium-2 cell">
              <%= f.input :codi_postal %>
            </div>
            <div class="medium-4 cell">
              <%= f.input :municipi %>
            </div>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="medium-12 cell">
              <%= f.input :adreca_oculta %>
              <br/>
            </div>
          </div>

          <div class="grid-x grid-margin-x">
            <div class="medium-12 cell">
              <div class="mk-documents-container">
                <%= t('.adjuntar_documents') %>
                <%= f.simple_fields_for :mk_documents do |mk_document| %>
                  <%= render 'mk_document_fields', f: mk_document %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association t('.afegeix_document'), f, :mk_documents, html_options = {class: "mk-afegir-document button"} %>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-x grid-margin-x">
            <div class="medium-12 cell">
              <div class="mk-imatges-container">
                <%= t('.adjuntar_imatges') %>
                <%= f.simple_fields_for :mk_imatges do |mk_imatge| %>
                  <%= render 'mk_imatge_fields', f: mk_imatge %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association t('.afegeix_imatge'), f, :mk_imatges, html_options = {class: "mk-afegir-imatge button"} %>
                </div>
              </div>
            </div>
          </div>

          <br/>
        </div>

        <div class="form-actions">
          <div class="grid-x grid-margin-x">
            <div class="medium-2 cell">
              <%= f.button :submit, t('.guardar') %>
            </div>
            <div class="medium-6 cell">
              <span class="mk-text-discret"><%= t('.anuncis_revisio') %></span>
            </div>
          </div>
        </div>
      <% end %>

<script>
$(function() {
  $("#container-unitats").hide();
  getLocation();
});


$("#mk_product_categoria").change(function() {
  $.ajax({
    type: 'GET',
    url: '<%= marketcons_comprova_unitats_categoria_path %>',
    data: {
      categoria_id: $("#mk_product_categoria").val()
    },
    success: function(data) {
      if(data == 'unitats'){
        $("#container-pes").hide();
        $("#text-kg").hide();
        $("#container-unitats").show();

      } 
      if(data == 'kg') {
        $("#container-pes").show();
        $("#text-kg").show();
        $("#container-unitats").hide();
      }
    }
  });
});

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(recordPosition);
  } else {
    x.innerHTML = "Aquest navegador no suporta la geolocalització";
  }
}

function recordPosition(position) {
  $("#mk_product_latitud").val(position.coords.latitude);
  $("#mk_product_longitud").val(position.coords.longitude);
};

</script>