<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mk_product.user_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @mk_product.nom %>
</p>

<p>
  <strong>Descripcio:</strong>
  <%= @mk_product.descripcio %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @mk_product.categoria %>
</p>

<p>
  <strong>Adreca:</strong>
  <%= @mk_product.adreca %>
</p>

<p>
  <strong>Codi postal:</strong>
  <%= @mk_product.codi_postal %>
</p>

<p>
  <strong>Municipi:</strong>
  <%= @mk_product.municipi %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @mk_product.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @mk_product.longitud %>
</p>

<p>
  <strong>Preu:</strong>
  <%= @mk_product.preu %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @mk_product.visible %>
</p>

<p>
  <strong>Venut:</strong>
  <%= @mk_product.venut %>
</p>

<p>
  <strong>Aprovat:</strong>
  <%= @mk_product.aprovat %>
</p>

<p>
  <strong>Pes:</strong>
  <%= @mk_product.pes %>
</p>

<p>
  <strong>Unitats:</strong>
  <%= @mk_product.unitats %>
</p>

<p>
  <strong>Enviament:</strong>
  <%= @mk_product.enviament %>
</p>

<p>
  <strong>Adreca oculta:</strong>
  <%= @mk_product.adreca_oculta %>
</p>

<%= link_to 'Edit', edit_mk_product_path(@mk_product) %> |
<%= link_to 'Back', mk_products_path %>
