<% @missatges_ordenats.each do |missatge| %>
	<% if missatge.user_id == current_user.id %>
		<div class="mk-mobile-missatge-usuari">
			<span class="nom-mk-missatge"><%= @comprador.nom %> <%= @comprador.cognoms %></span>
			<p class="text-mk-missatge"><%= simple_format(missatge.missatge) %></p>
		</div>
	<% else %>
		<div class="mk-mobile-missatge-venedor">
			<span class="nom-mk-missatge"><%= @mk_user.nom %> <%= @mk_user.cognoms %></span>
			<p class="text-mk-missatge"><%= simple_format(missatge.missatge) %></p>
		</div>
	<% end %>
<% end %>