
	<% if f.object.mk_product_imatge.attached? %>
		<div class="nested-fields mk-mobile-imatges-edicio-existent-container">
			<%= image_tag f.object.mk_product_imatge.variant(combine_options: {resize: '300x300^', extent: '300x300', gravity: 'Center', auto_orient: true}), class: "mk-mobile-imatges-edicio" %>
			<%= link_to_remove_association "X", f, class: "mk-mobile-imatges-eliminar" %>
			<div class="mk-mobile-descripcio-imatge-container">
				<%= f.object.descripcio %>
			</div>
		</div>
	<% else %>
		<div class="nested-fields mk-mobile-imatges-edicio-container">
			<%= f.input :mk_product_imatge, as: :file %>
			<%= f.input :descripcio %>
			<%= link_to_remove_association "X", f, class: "mk-mobile-imatges-eliminar" %>
		</div>
	<% end %>
			
