<div class="full reveal" id="guia-tutorial" data-reveal>
	<div class="container-guia-tutorial">
		<p class="titol-guia-tutorial"><%= t('.benvingut') %><br/>MARKETcons</p>
		<p class="text-guia-tutorial"><%= t('.text_benvinguda') %></p>
		<div class="imatge-guia-tutorial">
			<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/intro_app_marketcons.png', class: 'mk-mobile-about-marketcons' %>
		</div>
	</div>
	<div class="logo-guia-tutorial">
		<%= t('.realitzat_per') %>:<br/>
		<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/logo_nou_caateeb.png', class: 'mk-mobile-intro-logo-caateeb' %>
		<br/>
		<br/>
		<button class="button mk-mobile-button intro-button" data-close><%= t('.explorar') %></button>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="boto-filtres-container">
	<div id="boto-filtres">
		<%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/marketcons/filtre.png", class: 'mk-filtre' %>
		<%= t('.filtres') %>
	</div>
</div>
<div class="mk-mobile-filtres-container" id="mk-mobile-filtres">
	<div class="grid-x grid-margin-x">
		<div class="small-6 cell">
		  <span class="mk-mobile-nom-filtre-marketcons"><%= t('.preu') %></span>
		  <select id="selector-preu" class="filtre-marketcons">
		    <option value="tots" 
		    <% if params[:preu] == 'tots' %>
		      selected
		    <% end %>><%= t('.qualsevol_preu') %></option>
		    <option value="50"
		    <% if params[:preu] == '50' %>
		      selected
		    <% end %>><%= t('.50euros') %></option>
		    <option value="100"
		    <% if params[:preu] == '100' %>
		      selected
		    <% end %>><%= t('.100euros') %></option>
		    <option value="500"
		    <% if params[:preu] == '500' %>
		      selected
		    <% end %>><%= t('.500euros') %></option>
		  </select>
		</div>
		<div class="small-6 cell">
		  <span class="mk-mobile-nom-filtre-marketcons"><%= t('.distancia') %></span>
		  <select id="selector-distancia" class="filtre-marketcons">
		    <option value="tots"
		    <% if params[:distancia] == 'tots' %>
		      selected
		    <% end %>><%= t('.qualsevol_distancia') %></option>
		    <option value="5"
		    <% if params[:distancia] == '5' %>
		      selected
		    <% end %>><%= t('.5km') %></option>
		    <option value="10"
		    <% if params[:distancia] == '10' %>
		      selected
		    <% end %>><%= t('.10km') %></option>
		    <option value="50"
		    <% if params[:distancia] == '50' %>
		      selected
		    <% end %>><%= t('.50km') %></option>
		    <option value="100"
		    <% if params[:distancia] == '100' %>
		      selected
		    <% end %>><%= t('.100km') %></option>
		  </select>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="small-12 cell">
			<span class="mk-mobile-nom-filtre-marketcons"><%= t('.categoria') %></span>
		  <select id="selector-categoria" class="filtre-marketcons">
				<option value="tots"></option>
				<% @categories.each do |categoria| %>     
          <% if params[:locale] == 'es' %>
          	<option value="<%= categoria.id %>" <% if params[:categoria_id] == categoria.id.to_s %>selected<% end %>><%= categoria.nom_es %></option>
          <% elsif params[:locale] == 'en' %>
            <option value="<%= categoria.id %>" <% if params[:categoria_id] == categoria.id.to_s %>selected<% end %>><%= categoria.nom_en %></option>
          <% else %>
            <option value="<%= categoria.id %>" <% if params[:categoria_id] == categoria.id.to_s %>selected<% end %>><%= categoria.nom_ca %></option>
          <% end %>   
        <% end %>
      </select>
		</div>
	</div>
</div>

<div class="mk-mobile-selector-categories">
	<div class="mk-mobile-scrolling-wrapper-flexbox">
	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="36">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/finestra.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_portes') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="37">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/rajoles.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_rajoles') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="38">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/barana.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_baranes') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="39">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/teules.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_coberta') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="40">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/aixeta.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_aixetes') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="41">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/accessoris_bany.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_accessoris') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="42">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/radiador.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_clima') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="43">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/endoll.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_electrics') %></span>
		  </div>
	  </div>
	  
	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="44">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/tanca.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_tanques') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="45">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/banc_v2.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_urbanisme') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="46">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/ornament_v2.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_ornamentals') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria" data-categoria="48">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/materials_v2.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_materials') %></span>
		  </div>
	  </div>

	  <div class="container-card-categoria">
	  	<div class="card-categoria last-card" data-categoria="47">
		  	<%= image_tag 'https://dcyqocdz7x3wj.cloudfront.net/marketcons/altres.png', class: 'mk-mobile-imatge-categoria' %><br/>
		  	<span class="mk-mobile-text-categoria"><%= t('.categoria_altres') %></span>
		  </div>
	  </div>
	  
	</div>
</div>



<div class="mk-mobile-products-container">

	<% if params[:categoria] != 'tots' %>
		<div class="mk-mobile-titol-categoria">
			<% if params[:locale] == 'es' %>
				<%= @categoria.nom_es %>
			<% elsif params[:locale] == 'en' %>
				<%= @categoria.nom_en %>
			<% else %>
				<%= @categoria.nom_ca %>
			<% end %>
		</div>
	<% end %>

	<% if @productes.first.nil? %>
		<div class="mk-mobile-no-items">
			<%= t('.no_productes') %>
		</div>
	<% end %>

	<% @productes.each do |producte| %>
		<% 
		if params[:latitud].present? 
  		distancia = distance([params[:latitud].to_d, params[:longitud].to_d], [producte.latitud, producte.longitud])
  		distancia_km = distancia/1000
  		distancia_limit = params[:distancia].to_i * 1000 
  	else
  		#imposem una condició que compleixi sempre
  		distancia = 1
  		distancia_limit = 2
  	end
		%>
		<% if distancia < distancia_limit || params[:distancia] == 'tots' %>
			
				<%= link_to mobile_marketcons_producte_path(mk_product_id: producte.id), class:"mk-producte-link" do %>
				<div class="mk-mobile-item">
					<div class="mk-mobile-item-imatge">
					  <% if producte.mk_imatges.any? %>
              <%= image_tag producte.mk_imatges.first.miniatura_imatge, class: "mk-mobile-imatge-principal" %>
	          <% else %>
	            <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_product.jpg", class: 'mk-mobile-imatge-principal' %>
	          <% end %>
				  </div>
				  <div class="mk-mobile-item-text">
				  	<div class="mk-mobile-item-text-superior">
					    <div class="mk-mobile-badge-preu">
					    	<h4 class="mk-item-preu"><%= producte.preu %> €</h4>
					    </div>
					    
					    <% if producte.reservat == true %>
					    	<div class="container-badge-producte-reservat">
					    		<div class="mk-mobile-badge-producte-reservat"><%= t('.reservat') %></div>
					    	</div>
					    <% end %>
					  </div>
				    <div class="mk-mobile-badge-nom">
				    	<p class="mk-item-nom"><%= truncate(producte.nom, length: 45) %></p>
				    </div>
				    <div class="badge-distancia">
				    	<span class="mk-item-distancia">
				    		<% if distancia_km.present? %>
				    			<%= distancia_km.round(1) %> km
				    		<% end %>
				    	</span>
				    </div>
				    
				  </div>
					
				</div>
				<% end %>

	
		<% end %>
	<% end %>
	
</div>


<script>
$(document).ready(function() {	
	$('#mk-mobile-filtres').hide();
	
	<% if @nou_usuari == false %>
		
	<% else %>
	if (!sessionStorage.getItem("introMostrada")) {
    $('#guia-tutorial').foundation('open');
    sessionStorage.setItem("introMostrada", true);
  }
  <% end %>
});

$('#boto-filtres').click(function() {
	$('#mk-mobile-filtres').slideDown("slow");
});

$('.card-categoria').click(function() {
	gotoCategoria($(this).data("categoria"));
});

function gotoCategoria(categoria) {
	location.href = 'index?distancia=tots&preu=tots&categoria=' + categoria + '&locale=<%= params[:locale] %>';
}

function goToURL(preu, distancia, latitud, longitud, categoria) {
	location.href = 'index?preu=' + preu + '&distancia=' + distancia + '&locale=<%= params[:locale] %>&latitud=' + latitud + '&longitud=' + longitud + '&categoria=' + categoria;
}

$('#selector-preu').change(function() {
	navigator.geolocation.getCurrentPosition(getPosition);
});

$('#selector-distancia').change(function() {
	navigator.geolocation.getCurrentPosition(getPosition);
});

$('#selector-categoria').change(function() {
	navigator.geolocation.getCurrentPosition(getPosition);
});

function getPosition(posicio) {
	var latitud = posicio.coords.latitude;
	var longitud = posicio.coords.longitude;
	var preu = $( "select#selector-preu option:checked" ).val();
	var distancia = $( "select#selector-distancia option:checked" ).val();
	var categoria = $( "select#selector-categoria option:checked" ).val();
	goToURL(preu, distancia, latitud, longitud, categoria);
}

function success(posicio) {
	var crd = posicio.coords;
	console.log('Your current position is:');
  console.log('Latitude : ' + crd.latitude);
  console.log('Longitude: ' + crd.longitude);
  console.log('More or less ' + crd.accuracy + ' meters.');
  return crd.latitude;
}

function getLongitud(posicio) {
	var longitud = posicio.coords.longitude;
	return longitud;
}

</script>