		<div class="mk-mobile-product-page-container">
			<div class="mk-mobile-goback">
				<%= link_to mobile_marketcons_index_path(distancia: 'tots', preu: 'tots') do %>
					<%= image_tag 'https://csosteniblev4.s3-eu-west-1.amazonaws.com/marketcons/back_arrow.png', class: 'back-arrow' %><span class="mk-mobile-link-back"><%= t('.tornar_productes') %></span>
				<% end %>
			</div>
      <div class="mk-mobile-image-container">
        <% if @producte.mk_imatges.any? %>
          <% @producte.mk_imatges.each do |imatge| %>
            <% if imatge.mk_product_imatge.attached? %>
            	<div><%= image_tag imatge.standard_imatge, class: "mk-image-principal" %></div>
            <% else %>
            	<%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_product.jpg", class: 'mk-imatge-producte' %>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_product.jpg", class: 'mk-imatge-producte' %>
        <% end %>
      </div>
		
			<div class="mk-mobile-container-text-general">
				<h3 class="mk-product-nom"><%= @producte.nom %></h3>
	      <% if @producte.reservat == true %>
	        
	        <div class="badge-producte-reservat"><%= t('.reservat') %></div>
	          
	      <% end %>
	    </div>
	    <div class="mk-mobile-container-text-general">
				<div class="mk-mobile-50">
					<span class="titol-camp-producte"><%= t('.data_publicacio') %></span><br/>
					<span class="text-camp-producte"><%= @producte.created_at.strftime("%d-%m-%Y") %></span>
				</div>
				<div class="mk-mobile-50">
					<span class="titol-camp-producte"><%= t('.categoria') %></span><br/>
					<span class="text-camp-producte">
						<% if params[:locale] == 'es' %>
							<%= @categoria.nom_es %>
						<% elsif params[:locale] == 'en' %>
							<%= @categoria.nom_en %>
						<% else %>
							<%= @categoria.nom_ca %>
						<% end %>
					</span>
				</div>
			</div>
			
			<hr class="mk-mobile-hr"/>
			
			<div class="mk-mobile-container-text-general">
				<p class="mobile-text-camp-producte"><%= @producte.descripcio %></p>
				<span class="titol-camp-producte"><%= t('.condicions') %></span><br/>
				<span class="text-camp-producte">
					<% if @producte.enviament == 'comprador_buscar' %>
						<%= t('.comprador_buscar') %>
					<% elsif @producte.enviament == 'venedor_porta' %>
						<%= t('.venedor_porta') %>
					<% elsif @producte.enviament == 'negociar' %>
						<%= t('.negociar') %>
					<% else %>
						<%= t('.no_definit') %>
					<% end %>
				</span>
			</div>
				
			<hr class="mk-mobile-hr"/>
			
			<div class="mk-mobile-container-localitzacio">
				<span class="titol-camp-producte"><%= t('.localitzacio') %></span><br/>
				<span class="text-camp-producte">
					<% if @producte.adreca_oculta != true %>
						<%= @producte.adreca %>,
					<% end %>
					<%= @producte.municipi %></span>
			</div>

			<% if @producte.mk_documents.any? %>
      <hr class="mk-mobile-hr"/>
			
    	<div class="mk-mobile-container-documents">
      	<span class="titol-camp-producte"><%= t('.documents') %></span>
      
        <ul class="mk-mobile-llistat">
        <% @producte.mk_documents.each do |docu| %>
          <li><%= docu.nom %>
          <% if docu.document.previewable? %>
            <%= link_to(image_tag(docu.document.preview(resize: "200x200>")),  rails_blob_path(docu.document, disposition: "attachment"))
            %>
          <% elsif docu.document.variable? %>
            <%= link_to(image_tag(docu.document.variant(resize: "200x200")), rails_blob_path(docu.document, disposition: "attachment"))%>
          <% else %>
            [<%= link_to t('.descarregar'), rails_blob_path(docu.document, disposition: "attachment") %>]
          <% end %>
        <% end %>
          </li>
        </ul>
      </div>
        
      <% end %>

			<hr class="mk-mobile-hr"/>
			
			<div class="mk-mobile-50">
				<div class="mk-mobile-container-text-general">
					<div class="mk-mobile-preu-container">
						<span class="titol-camp-producte"><%= t('.preu') %></span>
						<span class="preu-producte"><%= @producte.preu %> €</span>
					</div>
				</div>
			</div>
				
			
			
					<% if user_signed_in? %> 
	          	
	            <% if @producte.user_id == current_user.id %>
	            <div class="clear-container">	
								<div class="mk-mobile-container-boto-editar-producte">
		  						<%= link_to t('.editar_producte'), mobile_marketcons_editar_anunci_path(mk_product_id: @producte.id), class:'boto-editar-producte' %>
		  					</div>
		  					<div class="mk-mobile-container-boto-eliminar-producte" id="eliminar-producte">
	                <div id="eliminar-producte"><a class="boto-eliminar-producte"><%= t('.eliminar_producte') %></a></div>
		  					</div>
	              <div id="opcions-eliminar-producte">
	                <div class="producte-venut">
	                  <%= link_to t('.producte_venut'), mobile_marketcons_producte_venut_path(mk_product_id: @producte.id), class:'boto-producte-venut' %>
	                </div>
	                <div class="producte-amagar">
	                  <%= link_to t('.producte_amagar'), mobile_marketcons_producte_amagar_path(mk_product_id: @producte.id), class:'boto-producte-amagar' %>
	                </div>
	              </div>
		  				</div>
							<% else %>
	              <%= link_to mobile_marketcons_missatges_path(mk_product_id: @producte.id, user_id: current_user.id) do %>
		  						<div class="mk-mobile-boto-enviar-missatge">
	                  <div class="icona-dialeg">
		  								<%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icon_dialeg.png", class: "mk-mobile-img-icona-dialeg" %>
		  							</div>
		  							<div class="mk-mobile-text-enviar-missatge">
		  								<%= t('.enviar_missatge') %>
		  							</div>
		  						</div>
	              <% end %>
	            <% end %>

          <% else %>
            <%= link_to new_user_session_path do %>
              <div class="mk-mobile-boto-enviar-missatge">
                <div class="icona-dialeg">
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icon_dialeg.png", class: "mk-mobile-img-icona-dialeg" %>
                </div>
                <div class="mk-mobile-text-enviar-missatge">
                  <%= t('.enviar_missatge') %>
                </div>
              </div>
            <% end %>
					<% end %>
			
			<hr class="hr-no-margin"/>
			<div class="mk-mobile-container-text-general">
				
					
	          <% if user_signed_in? && current_user.id == @producte.user_id %>
	            <% if @compradors.count != 0 %>
	              <p><%= t('.missatges') %></p>
	            <% end %>
	            <% @compradors.each do |comprador| %>
	              <% if comprador.user_id != current_user.id %>
	                <div class="mk-product-missatge-comprador-item">
	                  <%= link_to mobile_marketcons_missatges_path(mk_product_id: @producte.id, user_id: comprador.user_id), class:"mk-venedor-link" do %>
	                    <div class="mk-product-missatge-imatge-perfil-container">
	                      <% if comprador.mk_image_user.attached? %>
	                        <%= image_tag comprador.mk_image_user, class: "mk-imatge-perfil-producte" %>
	                      <% else %>
	                        <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_user.png", class: 'mk-imatge-perfil-producte' %>
	                      <% end %>
	                    </div>
	                    <div class="mk-product-missatge-text-container">
	                      <% missatge = MkMissatge.where(mk_product_id: @producte.id, user_id: comprador.user_id).last %>
	                      <span class="mk-product-missatge-usuari"><%= comprador.nom %> <%= comprador.cognoms %></span>
	                      <p><%= truncate(missatge.missatge, length: 45) %></p>
	                      <span class="titol-camp-producte"><%= missatge.created_at.strftime("%H:%M h (%d-%m-%Y) ") %></span>
	                      <% if @producte.reservat == true %>
	                        <div class="mk-product-marca-reservat"><%= t('.producte_reservat') %></div>
	                      <% end %>
	                    </div>
	                  <% end %>
	                </div>
	                <div class="spacer-container"></div>
	              <% end %>
	            <% end %>
	          <% else %>
	            <div class="mk-mobile-container-venedor-producte">
		            <%= link_to mobile_marketcons_venedor_path(user_id: @producte.user_id), class:"mk-venedor-link" do %>
		  						<div class="mk-mobile-product-imatge-perfil-container">
			  						<% if @mk_user.mk_image_user.attached? %>
					  					<%= image_tag @mk_user.mk_image_user, class: "mk-imatge-perfil-producte" %>
		                <% else %>
		                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/default_user.png", class: 'mk-imatge-perfil-producte' %>
					  				<% end %>
					  			</div>
					  			<div class="mk-mobile-product-text-perfil-container">
					  				<span class="titol-camp-producte"><%= t('.publicat_per') %></span><br/>
		  							<span class="text-camp-producte"><%= @mk_user.nom %> <%= @mk_user.cognoms %></span>
					  			</div>
					  		<% end %>
					  	</div>
	          <% end %>
	        </div>
				
		</div>
		

<script>
$(function() {
  $("#opcions-eliminar-producte").hide();
  $(".slick-arrow").hide();
});

$("#eliminar-producte").click(function() {
  $("#opcions-eliminar-producte").show();
});

$('.mk-mobile-image-container').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
  });
</script>