<%= render 'shared/errors', object: @producte_dapcons %>

<%= simple_form_for(@producte_dapcons) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell">
        <div class="editor-producte-dapcons-container">
          <div class="titol-editor-producte-dapcons">
            <h3>Català</h3>
          </div>
          <%= f.input :nom_ca %>
          <%= f.input :descripcio_ca %>
          <%= f.input :rcp_ca %>
          <%= f.input :unitat_declarada_ca %>
        </div>
      </div>
      <div class="medium-4 cell">
        <div class="editor-producte-dapcons-container">
          <div class="titol-editor-producte-dapcons">
            <h3>Castellà</h3>
          </div>
          <%= f.input :nom_es %>
          <%= f.input :descripcio_es %>
          <%= f.input :rcp_es %>
          <%= f.input :unitat_declarada_es %>
        </div>
      </div>
      <div class="medium-4 cell">
        <div class="editor-producte-dapcons-container">
          <div class="titol-editor-producte-dapcons">
            <h3>Anglès</h3>
          </div>
          <%= f.input :nom_en %>
          <%= f.input :descripcio_en %>
          <%= f.input :rcp_en %>
          <%= f.input :unitat_declarada_en %>
        </div>
      </div>
    </div>



    <div class="grid-x grid-margin-x">
      <div class="medium-3 cell">
        <%= f.input :identificador %>
      </div>
      <div class="medium-3 cell">
        <%= f.input :empresa %>
      </div>
      <div class="medium-3 cell">
        <%= f.input :validesa_inici, as: :string, format: :short %>
      </div>
      <div class="medium-3 cell">
        <%= f.input :validesa_fi, as: :string %>
      </div>
      <div class="medium-3 cell">
        <%= f.input :categoria_indicadors, collection: [['Aïllants tèrmics', '001'], ['Revestiments ceràmics', '002'], ['Productes de pedra natural', '004'], ['Productes de construcció en general', '100']] %>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div id="indicadors">
          <h3>Assignar indicadors</h3>
          <%= f.simple_fields_for :indicadors do |indicador| %>
            <%= render 'indicador_fields', f: indicador %>
          <% end %>
          <div class="links">
            <%= link_to_add_association f, :indicadors, html_options = {class: "afegir-element"} %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <%= f.button :submit, t('.guardar') %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $( function() {
    $( "#producte_dapcons_validesa_inici" ).datepicker({
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
      regional: "es"
    })
  });
  $( function() {
    $( "#producte_dapcons_validesa_fi" ).datepicker({
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true,
      regional: "es"
    })
  });
</script>


