<div class="container">
  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.panell') %></span>
        <br/>
        <span class="secondary-title"><%= t('.producte_dapcons') %></span>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
      <table>
        <thead>
          <tr>
            <th><%= t('.nom') %></th>
            <th><%= t('.empresa') %></th>
            <th><%= t('.descripcio') %></th>
            <th><%= t('.unitat_declarada') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @producte_dapcons.each do |producte_dapcons| %>
          <tr>
            <td><%= link_to producte_dapcons.nom_ca, edit_producte_dapcons_path(producte_dapcons) %></td>
            <td><%= producte_dapcons.empresa %></td>
            <td><%= producte_dapcons.descripcio_ca %></td>
            <td><%= producte_dapcons.unitat_declarada_ca %></td>
            <td><%= link_to 'Eliminar', producte_dapcons, method: :delete, data: { confirm: 'Segur que vols eliminar aquest producte?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  
    <div class="medium-12 cell">
      <%= link_to t('.nou_producte'), new_producte_dapcons_path, class: 'button' %>
    </div>
  </div>
</div>
