<p id="notice"><%= notice %></p>

<p>
  <strong>Nom ca:</strong>
  <%= @producte_dapcons.nom_ca %>
</p>

<p>
  <strong>Nom es:</strong>
  <%= @producte_dapcons.nom_es %>
</p>

<p>
  <strong>Nom en:</strong>
  <%= @producte_dapcons.nom_en %>
</p>

<p>
  <strong>Descripcio ca:</strong>
  <%= @producte_dapcons.descripcio_ca %>
</p>

<p>
  <strong>Descripcio es:</strong>
  <%= @producte_dapcons.descripcio_es %>
</p>

<p>
  <strong>Descripcio en:</strong>
  <%= @producte_dapcons.descripcio_en %>
</p>

<p>
  <strong>Identificador:</strong>
  <%= @producte_dapcons.identificador %>
</p>

<p>
  <strong>Rcp ca:</strong>
  <%= @producte_dapcons.rcp_ca %>
</p>

<p>
  <strong>Rcp es:</strong>
  <%= @producte_dapcons.rcp_es %>
</p>

<p>
  <strong>Rcp en:</strong>
  <%= @producte_dapcons.rcp_en %>
</p>

<p>
  <strong>Validesa inici:</strong>
  <%= @producte_dapcons.validesa_inici %>
</p>

<p>
  <strong>Validesa fi:</strong>
  <%= @producte_dapcons.validesa_fi %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @producte_dapcons.empresa %>
</p>

<p>
  <strong>Categoria indicadors:</strong>
  <%= @producte_dapcons.categoria_indicadors %>
</p>

<%= link_to 'Edit', edit_producte_dapcons_path(@producte_dapcons) %> |
<%= link_to 'Back', producte_dapcons_index_path %>
