<p id="notice"><%= notice %></p>

<p>
  <strong>Nom ca:</strong>
  <%= @ecoetiqueta.nom_ca %>
</p>

<p>
  <strong>Nom es:</strong>
  <%= @ecoetiqueta.nom_es %>
</p>

<p>
  <strong>Nom en:</strong>
  <%= @ecoetiqueta.nom_en %>
</p>

<%= link_to 'Edit', edit_ecoetiqueta_path(@ecoetiqueta) %> |
<%= link_to 'Back', ecoetiquetes_path %>
