
  <div class="grid-x">
    <div class="medium-10 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.titol_programa_dapconstruccion') %><sup>®</sup></span>
        <br/>
        <span class="secondary-title"><%= t('.subtitol_programa_dapconstruccion') %></span>
      </div>
    </div>
    <div class="medium-2 cell">
    	<div class="logo-dapcons-container">
    		<%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/logo_dapcons.png", class: "logo-dapcons" %>
    	</div>
    </div>
  </div>

  <br/>

  <div class="grid-x grid-margin-x">
	
		<div class="medium-3 cell">
			<div class="menu-dapcons-lateral-container">
				
				
				<ul class="accordion" data-accordion>
					<li class="accordion-item is-active" data-accordion-item>
						<a href="#" class="accordion-title"><%= t('.programa_dapconstruccion') %><sup>®</sup></a>
						<div class="accordion-content" data-tab-content>
							<ul class="vertical menu menu-dapcons">
								<li><%= link_to t('.que_son'), dapcons_que_son_path %></li>
								<li><%= link_to sanitize(t('.utilitat_dapcons')), dapcons_utilitat_path %></li>
								<li><%= link_to t('.organitzacions_afiliades'), dapcons_organitzacions_afiliades_path %></li>
								<li><%= link_to t('.productes_registrats'), dapcons_productes_registrats_path(filtre: 'data', validesa: 'false') %></li>
								<li><%= link_to t('.comparador'), dapcons_llistat_productes_path %></li>
								
								<li><%= link_to t('.documents_oficials'), dapcons_documents_oficials_path %></li>
							</ul>
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title"><%= t('.assessors_programa') %><sup>®</sup></a>
						<div class="accordion-content" data-tab-content>
							<ul class="vertical menu menu-dapcons">
								<li><%= link_to t('.administradors'), dapcons_administradors_path %></li>
								<li><%= link_to t('.consell_assessor'), dapcons_consell_assessor_path %></li>
								<li><%= link_to t('.panells_sectorials'), dapcons_panells_sectorials_path %></li>
								<li><%= link_to t('.eco_platform'), dapcons_eco_platform_path %></li>
								<li><%= link_to t('.entitats_colaboradores'), dapcons_entitats_colaboradores_path %></li>
								<li><%= link_to t('.verificadors'), dapcons_verificadors_path %></li>
							</ul>
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title"><%= t('.formar_part') %></a>
						<div class="accordion-content" data-tab-content>
							<ul class="vertical menu menu-dapcons">
								<li><%= link_to t('.afiliacio'), dapcons_afiliacio_path %></li>
								<li><%= link_to t('.registrar_producte'), dapcons_registrar_producte_path %></li>
								<li><%= link_to t('.contacte'), dapcons_contacte_path %></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
