	<div class="grid-x grid-margin-x">
		<div class="medium-12 cell">
			<div class="contenidor-noticies-dapcons">
				<div class="titol-seccio">
					NOTÍCIES DAPcons<sup>®</sup>
				</div>
				<% counter = 0 %>
				<div class="grid-x grid-margin-x">
				<% @noticies.each do |noticia| %>
	        <% if counter != 0 && counter % 3 == 0 %>
	          </div>
	          <div class="grid-x grid-margin-x">
	        <% end %>

	        <div class="medium-4 cell">
						<%= link_to noticia do %>
		          <div class="container-noticia-lateral">
		            <% if noticia.imatge_noticia.attached? %>
	                <%= link_to noticia do %>
	                  <%= image_tag noticia.imatge_noticia.variant(resize: "500x500"), class: 'img-index-noticia' %>
	                <% end %>
	              <% end %> 
		            <div class="titol-index-noticia">
		              <%= link_to noticia do %>
		                <h4><%= noticia.titol_ca %></h4>
		              <% end %>
		            </div>
		            <span class="titol-noticia-lateral"><%= noticia.titol_ca %></span>
		          </div>
		        <% end %>
					</div>
					<% counter += 1 %>
				<% end %>
			</div>
		</div>
	</div>
</div>