
	<div class="grid-x grid-margin-x">
		<div class="medium-12 cell">
			<div class="contenidor-noticies-dapcons">
				<div class="titol-seccio">
					<% if params[:locale] == 'ca' %>
						NOTÍCIES DAPcons<sup>®</sup>
					<% elsif params[:locale] == 'es' %>
						NOTICIAS DAPcons<sup>®</sup>
					<% else %>
						DAPcons<sup>®</sup> NEWS
					<% end %>
				</div>
				<div class="grid-x grid-margin-x">
					
					<% @noticies.each do |noticia| %>
						<div class="medium-2 cell">
							<div class="container-noticia-lateral">
								<% if noticia.imatge_noticia.attached? %>
		              <%= link_to noticia do %>
		                <%= image_tag noticia.imatge_noticia.variant(resize: "500x500"), class: 'img-noticia-dapcons' %>
		              <% end %>
		            <% end %> 
		            <div class="titol-noticia-dapcons">
		              <%= link_to noticia do %>
			              <% if params[:locale] == 'ca' %>
											<h4><%= noticia.titol_ca %></h4>
										<% elsif params[:locale] == 'es' %>
											<h4><%= noticia.titol_es %></h4>
										<% else %>
											<h4><%= noticia.titol_en %></h4>
										<% end %>
		              <% end %>
		            </div>
							</div>
						</div>
					<% end %>
					
				</div>
			</div>
		</div>
	</div>

