<div class="footer-container">
	<p>© <%= Date.today.year %> Agenda de la Construcció Sostenible</p>
	<p><%= link_to t('.quisom'), home_quisom_path %> - <%= link_to t('.avis_legal'), home_avislegal_path %> - <%= link_to t('.cookies'), home_cookies_path %> - <%= link_to t('.contacta'), home_contacta_path %></p>
</div>