  <div class="grid-x">
    <div class="medium-12 cell">
    	<div class="logo-marketcons-container">
    		<span class="main-title">MARKETcons</span>
    	</div>
    </div>
  </div>

  <br/>

  <div class="grid-x grid-margin-x">
	
		<div class="medium-3 cell">
			<div class="menu-marketcons-lateral-container">
        <ul class="vertical menu accordion-menu">
          
          <% if @menu_actiu == 'destacat' %>
            <li class="menu-marketcons-item menu-marketcons-actiu">
              <%= link_to marketcons_index_path(preu: 'tots', distancia: 'tots'), class: 'link-menu-marketcons link-marketcons-actiu' do %>
                <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_estrella_light.png", class: 'mk-icons-navigation' %> <%= t('.mes_destacat') %>
              <% end %>
            </li>
            
          <% else %>
            
            <li class="menu-marketcons-item">
              <%= link_to marketcons_index_path(preu: 'tots', distancia: 'tots'), class: 'link-menu-marketcons' do %>
                <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_estrella_dark.png", class: 'mk-icons-navigation' %> <%= t('.mes_destacat') %>
              <% end %>
            </li>

          <% end %>

          <% if @menu_actiu == 'nou_anunci' %>
            
            <li class="menu-marketcons-item menu-marketcons-actiu">
              <%= link_to marketcons_nou_anunci_path, class: 'link-menu-marketcons link-marketcons-actiu' do %>
                <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_editar_light.png", class: 'mk-icons-navigation' %> <%= t('.publicar_anunci') %>
              <% end %>  
            </li>
            
          <% else %>
            
            <li class="menu-marketcons-item">
              <%= link_to marketcons_nou_anunci_path, class: 'link-menu-marketcons' do %>
                <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_editar_dark.png", class: 'mk-icons-navigation' %> <%= t('.publicar_anunci') %>
              <% end %>
            </li>
            
          <% end %>

          <% if @menu_actiu == 'venedor' %>
            <% if user_signed_in? %>
              
              <li class="menu-marketcons-item menu-marketcons-actiu">
                <%= link_to marketcons_venedor_path(user_id: current_user.id), class: 'link-menu-marketcons link-marketcons-actiu' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_anuncis_light.png", class: 'mk-icons-navigation' %> <%= t('.meus_anuncis') %>
                <% end %>
              </li>
              
            <% else %> 
            
              <li class="menu-marketcons-item">
                <%= link_to new_user_session_path, class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_anuncis_dark.png", class: 'mk-icons-navigation' %> <%= t('.meus_anuncis') %>
                <% end %>
              </li>
              
            <% end %>
          <% else %>
            <% if user_signed_in? %>
              
              <li class="menu-marketcons-item">
                <%= link_to marketcons_venedor_path(user_id: current_user.id), class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_anuncis_dark.png", class: 'mk-icons-navigation' %> <%= t('.meus_anuncis') %>
                <% end %>
              </li>
              
            <% else %> 
            
              <li class="menu-marketcons-item">
                <%= link_to new_user_session_path, class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_anuncis_dark.png", class: 'mk-icons-navigation' %> <%= t('.meus_anuncis') %>
                <% end %>
              </li>
              
            <% end %>
          <% end %>

          <% if @menu_actiu == 'perfil' %>
            <% if user_signed_in? %>
              
              <li class="menu-marketcons-item menu-marketcons-actiu">
                <%= link_to marketcons_perfil_path, class: 'link-menu-marketcons link-marketcons-actiu' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_perfil_light.png", class: 'mk-icons-navigation' %> <%= t('.perfil') %>
                <% end %>
              </li>
              
            <% else %> 
            
              <li class="menu-marketcons-item">
                <%= link_to new_user_session_path, class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_perfil_dark.png", class: 'mk-icons-navigation' %> <%= t('.perfil') %>
                <% end %>
              </li>
              
            <% end %>
          <% else %>
            <% if user_signed_in? %>
              
              <li class="menu-marketcons-item">
                <%= link_to marketcons_perfil_path, class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_perfil_dark.png", class: 'mk-icons-navigation' %> <%= t('.perfil') %>
                <% end %>
              </li>
              
            <% else %> 
            
              <li class="menu-marketcons-item">
                <%= link_to new_user_session_path, class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_perfil_dark.png", class: 'mk-icons-navigation' %> <%= t('.perfil') %>
                <% end %>
              </li>
              
            <% end %>
          <% end %>

          <% if @menu_actiu == 'about' %>
            
              <li class="menu-marketcons-item menu-marketcons-actiu">
                <%= link_to marketcons_about_path, class: 'link-menu-marketcons link-marketcons-actiu' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_marketcons_light.png", class: 'mk-icons-navigation' %> <%= t('.sobre_marketcons') %>
                <% end %>
              </li>
            
          <% else %>
            
              <li class="menu-marketcons-item">
                <%= link_to marketcons_about_path, class: 'link-menu-marketcons' do %>
                  <%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/icones_marketcons_marketcons_dark.png", class: 'mk-icons-navigation' %> <%= t('.sobre_marketcons') %>
                <% end %>
              </li>
            
          <% end %>
        </ul>
      </div>

      <% if @filtres == true %>
      <br/>
      <span class="titol-menu-marketcons"><%= t('.filtres') %></span>
      <div class="menu-marketcons-lateral-container">
        <div class="mk-filtres-container">
          <span class="nom-filtre-marketcons"><%= t('.preu') %></span>
          <select id="selector-preu" class="filtre-marketcons">
            <option value="tots" 
            <% if params[:preu] == 'tots' %>
              selected
            <% end %>><%= t('.qualsevol_preu') %></option>
            <option value="50"
            <% if params[:preu] == '50' %>
              selected
            <% end %>><%= t('.50euros') %></option>
            <option value="100"
            <% if params[:preu] == '100' %>
              selected
            <% end %>><%= t('.100euros') %></option>
            <option value="500"
            <% if params[:preu] == '500' %>
              selected
            <% end %>><%= t('.500euros') %></option>
          </select>
          <span class="nom-filtre-marketcons"><%= t('.distancia') %></span>
          <select id="selector-distancia" class="filtre-marketcons">
            <option value="tots"
            <% if params[:distancia] == 'tots' %>
              selected
            <% end %>><%= t('.qualsevol_distancia') %></option>
            <option value="5"
            <% if params[:distancia] == '5' %>
              selected
            <% end %>><%= t('.5km') %></option>
            <option value="10"
            <% if params[:distancia] == '10' %>
              selected
            <% end %>><%= t('.10km') %></option>
            <option value="50"
            <% if params[:distancia] == '50' %>
              selected
            <% end %>><%= t('.50km') %></option>
            <option value="100"
            <% if params[:distancia] == '100' %>
              selected
            <% end %>><%= t('.100km') %></option>
          </select>
        </div>
      </div>

      <% end %>

      <br/>
      <span class="titol-menu-marketcons"><%= t('.categories') %></span>
      <div class="menu-marketcons-lateral-container">
        <ul class="vertical menu accordion-menu">
          <% @categories.each do |categoria| %>
            
              <% if params[:locale] == 'es' %>
                <li class="menu-marketcons-item-categoria <% if params[:categoria_id] == categoria.id.to_s %>menu-marketcons-actiu<% end %>"><%= link_to categoria.nom_es, marketcons_categoria_path(categoria_id: categoria.id), class: 'link-marketcons-categoria' %></li>
              <% elsif params[:locale] == 'en' %>
                <li class="menu-marketcons-item-categoria <% if params[:categoria_id] == categoria.id.to_s %>menu-marketcons-actiu<% end %>"><%= link_to categoria.nom_en, marketcons_categoria_path(categoria_id: categoria.id), class: 'link-marketcons-categoria' %></li>
              <% else %>
                <li class="menu-marketcons-item-categoria <% if params[:categoria_id] == categoria.id.to_s %>menu-marketcons-actiu<% end %>"><%= link_to categoria.nom_ca, marketcons_categoria_path(categoria_id: categoria.id), class: 'link-marketcons-categoria' %></li>
              <% end %>
            
          <% end %>
        </ul>
      </div>

      <br/>

      <div class="logo-arc">
        <%= image_tag 'https://csosteniblev4.s3-eu-west-1.amazonaws.com/marketcons/arc.jpg' %>
      </div>
    </div>
