<div class="container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="nav-wrapper">
        <nav role="navigation" class="full-menu-container">
          
            <div class="grid-container">
              <div class="cell medium-12">
                
                  <ul id="menu-top-menu-2" class="full-menu nav">
                    <li class="menu-item"><%= link_to t('.actualitat'), root_path %></li>
                    <li class="menu-item"><%= link_to t('.temes_clau'), root_path %></li>
                    <li class="menu-item"><%= link_to t('.videos'), root_path %></li>
                    <li class="menu-item"><%= link_to t('.casos_practics'), root_path %></li>
                    <li class="menu-item"><%= link_to t('.productes'), root_path %></li>
                    <li class="menu-item"><a href="#"><%= t('.marketcons') %></a></li>
                    <li class="menu-item"><%= link_to t('.dapcons'), root_path %></li>
                  </ul>
                
              </div>
            </div>
          
        </nav>
      </div>
    </div>
  </div>
</div>