<div class="container">
	<div class="grid-x">
	  
	  <div class="medium-12 cell menu-top-right">
	  	<ul class="menu-top dropdown menu float-right" data-dropdown-menu>
			  
			  <% if params[:locale] == 'en' %>
			  	<li><%= link_to 'Español', :locale => 'es' %></li>
			  	<li><%= link_to 'Català', :locale => 'ca' %></li>
			  <% elsif params[:locale] == 'es'%>
			  	<li><%= link_to 'Català', :locale => 'ca' %></li>
			  	<li><%= link_to 'English', :locale => 'en' %></li>
			  <% else %>
			  	<li><%= link_to 'Español', :locale => 'es' %></li>
			  	<li><%= link_to 'English', :locale => 'en' %></li>
			  <% end %>
			  
			  <% if user_signed_in? %>
			  	
						  <li>
						    <a href="#" class="sessionbar-link"><%= current_user.email %></a>
						    <ul class="menu">
						    	<li><%= link_to t('.panell_control'), home_panel_path, class: 'sessionbar-link' %></li>
						      <li><%= link_to t('.account_configuration'), edit_user_registration_path, class: 'sessionbar-link' %></li>
	            		<li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'sessionbar-link' %></li>
						    </ul>
						  </li>
						
        <% else %>
		      
	        <li><%= link_to t('.register'), new_user_registration_path, :class => 'sessionbar-link'  %></li>
	        
	        <li><%= link_to t('.sign_in'), new_user_session_path, :class => 'sessionbar-link'  %></li>
		     
		    <% end %>
			</ul>
	  </div>
	</div>
	<div class="grid-x">
		<div class="medium-3 cell">
			<%= link_to( image_tag('https://dcyqocdz7x3wj.cloudfront.net/imatges/logo_agenda_2015_hd.png', :alt => 'Logo Agenda de la Construcció Sostenible', :class => 'logo-agenda'), {:controller => '/home', :action => 'index'}) %>
		</div>
		<div class="medium-9 cell">
			<div class="main-menu-mobile-container" data-responsive-toggle="main-menu" data-hide-for="medium">
			  <button class="menu-icon black" type="button" data-toggle="main-menu"></button>
			  <div class="title-bar-title">Menu</div>
			</div>

			<div class="top-bar" id="main-menu">
			  <div class="top-bar-right">
			    <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
			      <li class="menu-item"><%= link_to t('.actualitat'), noticies_path %></li>
            <li class="menu-item"><%= link_to t('.temes_clau'), temes_clau_index_path %></li>
            <li class="menu-item"><%= link_to t('.videos'), videos_path %></li>
            <li class="menu-item"><%= link_to t('.casos_practics'), cas_practics_path %></li>
            <li class="menu-item"><%= link_to t('.productes'), productes_path %></li>
            <li class="menu-item"><%= link_to t('.dapcons'), dapcons_path %></li>
			    </ul>
			  </div>
			</div>
		</div>
	</div>
</div>
