<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Agenda de la Construcció Sostenible" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127502662-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127502662-1');
    </script>


  </head>

  <body class="mk-body-mobile">

    <%= yield %>

    <script>
    $( document ).ready(function() {
      if (navigator.userAgent.indexOf('gonative') > -1) {
        <% if params[:locale] == 'en' %>
          var items = [{
            label: 'Highlights',
            url: 'https://www.csostenible.net/mobile_marketcons'
          }, {
            label: 'Publish a product',
            url: 'https://www.csostenible.net/mobile_marketcons/nou_anunci'
          }, {
            label: 'My products',
            <% if user_signed_in? %>
              url: 'https://www.csostenible.net/mobile_marketcons/venedor?user_id=<%= current_user.id %>'
            <% else %>
              url: 'https://www.csostenible.net/mobile_marketcons/venedor'
            <% end %>
          }, {
            label: 'About MARKETcons',
            url: 'https://www.csostenible.net/mobile_marketcons/about'
          }];
        <% elsif params[:locale] == 'es' %>
          var items = [{
            label: 'Lo más destacado',
            url: 'https://www.csostenible.net/mobile_marketcons'
          }, {
            label: 'Publicar un anuncio',
            url: 'https://www.csostenible.net/mobile_marketcons/nou_anunci'
          }, {
            label: 'Mis anuncios',
            <% if user_signed_in? %>
              url: 'https://www.csostenible.net/mobile_marketcons/venedor?user_id=<%= current_user.id %>'
            <% else %>
              url: 'https://www.csostenible.net/mobile_marketcons/venedor'
            <% end %>
          }, {
            label: 'Sobre MARKETcons',
            url: 'https://www.csostenible.net/mobile_marketcons/about'
          }];
        <% else %>
          var items = [{
            label: 'El més destacat',
            url: 'https://www.csostenible.net/mobile_marketcons'
          }, {
            label: 'Publicar un anunci',
            url: 'https://www.csostenible.net/mobile_marketcons/nou_anunci'
          }, {
            label: 'Els meus anuncis',
            <% if user_signed_in? %>
              url: 'https://www.csostenible.net/mobile_marketcons/venedor?user_id=<%= current_user.id %>'
            <% else %>
              url: 'https://www.csostenible.net/mobile_marketcons/venedor'
            <% end %>
          }, {
            label: 'Sobre MARKETcons',
            url: 'https://www.csostenible.net/mobile_marketcons/about'
          }];
        <% end %>
        var json = JSON.stringify(items);

        window.location.href = 'gonative://sidebar/setItems?items=' + encodeURIComponent(json);
      }
    });
    </script>
  </body>
</html>

